verification/business-ready/controlled-live-backup/20260618T221511Z/HMZ_-_Reply_Full_Test_Harness_-_Validation.json
{
  "updatedAt": "2026-06-18T21:33:42.164Z",
  "createdAt": "2026-06-17T18:29:52.775Z",
  "id": "RLUcJHQJPvLhw4mG",
  "name": "HMZ - Reply Full Test Harness - Validation",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "sticky_overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -440
      ],
      "parameters": {
        "content": "# HMZ - Reply Full Test Harness - Validation (Phase 4B)\n\nWHAT: On demand (Manual Trigger or Execute Workflow Trigger), runs the complete Phase 4 synthetic fixture matrix (60 fixtures across intake/policy, sender/suppression, failure-policy, and monitoring/error-handling groups) against the deterministic Phase 4A/4B core modules (sender-core, error-core, watchdog-core, harness-core) embedded directly into this workflow. Every fixture is synthetic (synthetic: true); no fixture ever calls Instantly or uses credentials.\n\nASSERTIONS: each fixture declares a `check` (which deterministic core function(s) to run) and an `expected` object compared by dot-path against the actual result. harness_result.overall_result is FAIL if any fixture fails.\n\nLOCAL CONTRACT: classify_intake fixtures exercise classifyIntakeEvent() - a local deterministic reimplementation of the safety-critical subset of HMZ_APPROVED_REPLY_RULES.md sections 3 and 5, used because no shared decision-core module exists for workflows 01/02. Two monitoring fixtures (sidecar_resolved_exclusion, sidecar_alert_dedupe) report skipped:true here and are proven directly against infrastructure/send-state/state-store.mjs by run-offline-tests.mjs. Full sub-workflow integration (Execute Workflow calls into workflows 01-06 by ID) is recorded as a Phase 5 task.\n\nVALIDATION MODE: hardcoded (validation_mode = true, synthetic = true). SIDECAR: http://hmz-send-state:5681 (internal Docker network only, used only to persist the sanitised harness_result).\n\nINACTIVE: this workflow must remain inactive after import and after every test.",
        "height": 520,
        "width": 980,
        "color": 7
      }
    },
    {
      "id": "trigger_manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -120
      ],
      "parameters": {}
    },
    {
      "id": "trigger_synthetic",
      "name": "Execute Workflow Trigger (Synthetic Test Entry)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        140
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "node_a",
      "name": "A. Run Fixture Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const FIXTURES = [{\"id\":\"intake-positive-interest\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Positive interest, no booking/info ask -> T1, FIXED_TEMPLATE_APPROVAL\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Thanks, this sounds good - happy to talk it through.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T1\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-information-request\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Information request ('how does it work') -> T2, AI_DRAFT_APPROVAL\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"How does it work? Can you tell me more about the offer?\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T2\",\"reply_mode\":\"AI_DRAFT_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-booking-request\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Explicit scheduling ask -> T3, FIXED_TEMPLATE_APPROVAL\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Can you send me your calendar so we can schedule a call?\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T3\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-timing-objection\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Vague timing objection -> T4, FIXED_TEMPLATE_APPROVAL\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Not a good time, maybe later. Try again next quarter.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T4\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-referral\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Referral to another contact -> T5, FIXED_TEMPLATE_APPROVAL (ack only)\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"I'm not the right person for this, please contact Jane Smith on our sales team.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T5\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-not-interested\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Genuine decline -> T6, FIXED_TEMPLATE_APPROVAL ack, NOT_INTERESTED\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Thanks but no thanks, we're all set for now.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T6\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true,\"interest_status_update\":\"NOT_INTERESTED\"}},{\"id\":\"intake-unsubscribe\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Prospect-stated opt-out -> T7, strongest verified suppression\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Please unsubscribe me from this list, stop emailing me.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T7\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"WORKSPACE_DNC\",\"human_review_required\":false,\"reason_codes\":[\"det-unsub-001\"]}},{\"id\":\"intake-out-of-office\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Out of office auto-reply -> T8, NO_REPLY, pause\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Automatic reply: Out of office\",\"text\":\"I am currently out of office and will respond when I return.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T8\",\"reply_mode\":\"NO_REPLY\",\"stop_sequence\":false,\"pause_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":false}},{\"id\":\"intake-bounce\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Bounce with delivery-status evidence -> T9, NO_REPLY, data cleanup\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"delivery_status_evidence\":true,\"reply\":{\"subject\":\"Mail delivery failed\",\"text\":\"Mailer-daemon: delivery failed - undeliverable mail.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T9\",\"reply_mode\":\"NO_REPLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":false,\"data_cleanup_required\":true}},{\"id\":\"intake-wrong-person\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Wrong person, no longer in role -> T10, FIXED_TEMPLATE_APPROVAL ack\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Wrong person - I no longer work here and I'm not in that role anymore.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T10\",\"reply_mode\":\"FIXED_TEMPLATE_APPROVAL\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-pricing\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Pricing/commercial intent -> T11, HUMAN_ONLY\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Can you send me a quote and pricing details for the enterprise plan?\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T11\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-legal-privacy-complaint\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"GDPR / data-origin question -> T12, REVIEW_HOLD, legal+privacy review\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Under GDPR I am requesting you delete my data - where did you get my email?\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T12\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"REVIEW_HOLD\",\"human_review_required\":true,\"escalation_required\":true,\"legal_review_required\":true,\"privacy_review_required\":true,\"reputational_review_required\":false}},{\"id\":\"intake-hostile-reputational\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Profanity-driven complaint, no legal content -> T13, reputational review only\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"You are an idiot and a fraud, I will make sure everyone knows about this.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T13\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"REVIEW_HOLD\",\"human_review_required\":true,\"escalation_required\":true,\"legal_review_required\":false,\"reputational_review_required\":true}},{\"id\":\"intake-attachment-dependent\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Attachment present -> T14, HUMAN_ONLY, never claim review\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Please see the attached proposal for review.\",\"has_attachments\":true}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T14\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true}},{\"id\":\"intake-ambiguous\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Genuinely unclear reply with no deterministic match -> T15, HUMAN_ONLY\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Hmm, not sure, maybe, who knows.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T15\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true,\"reason_codes\":[\"ai_classifier_fallback\"]}},{\"id\":\"intake-other\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Off-topic reply classified Other by the (mocked) AI -> T16, fail closed\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"mock_ai_category\":\"T16\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Just wanted to say hi, no particular reason.\"}},\"expected\":{\"intake_outcome\":\"ACCEPTED\",\"category\":\"T16\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true,\"reason_codes\":[\"ai_classifier_fallback\"]}},{\"id\":\"intake-duplicate-webhook\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Same dedupe_key delivered twice -> rejected as duplicate, no reprocessing\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"duplicate_of\":\"instantly:campaign-123:lead@example.com:re-quick-question:123456\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Thanks, interested!\"}},\"expected\":{\"intake_outcome\":\"DUPLICATE_REJECTED\",\"category\":null,\"human_review_required\":false,\"reason_codes\":[\"duplicate_dedupe_key\"]}},{\"id\":\"intake-repeated-execution\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Same intake_id reprocessed by a manual/automated rerun -> rejected, idempotent\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"duplicate_intake_id\":true,\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Thanks, interested!\"}},\"expected\":{\"intake_outcome\":\"DUPLICATE_REJECTED\",\"category\":null,\"human_review_required\":false,\"reason_codes\":[\"repeated_execution_duplicate_intake_id\"]}},{\"id\":\"intake-self-sent-event\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Auto-reply flag set on our own sent message -> NOOP, no automated reply\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"is_auto_reply\":true,\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"This is an automated response.\"}},\"expected\":{\"intake_outcome\":\"SELF_SENT_NOOP\",\"category\":\"NOOP\",\"reply_mode\":\"NO_REPLY\",\"stop_sequence\":false,\"suppression_level\":\"NONE\",\"human_review_required\":false,\"reason_codes\":[\"self_sent_or_auto_reply\"]}},{\"id\":\"intake-unsupported-event\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Non-reply_received event type -> NOOP, never processed as a reply\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"lead_unsubscribed\",\"reply\":{\"subject\":\"\",\"text\":\"\"}},\"expected\":{\"intake_outcome\":\"UNSUPPORTED_EVENT_NOOP\",\"category\":\"NOOP\",\"reply_mode\":\"NO_REPLY\",\"stop_sequence\":false,\"suppression_level\":\"NONE\",\"human_review_required\":false,\"reason_codes\":[\"unsupported_event_type\"]}},{\"id\":\"intake-empty-reply\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Empty body, no attachments -> T15 escalation, never silently dropped\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"\",\"has_attachments\":false}},\"expected\":{\"intake_outcome\":\"EMPTY_REPLY_ESCALATE\",\"category\":\"T15\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true,\"reason_codes\":[\"empty_reply\"]}},{\"id\":\"intake-malformed-payload\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"Structurally malformed webhook payload -> rejected, human review\",\"check\":\"classify_intake\",\"input\":{\"malformed\":true},\"expected\":{\"intake_outcome\":\"MALFORMED_PAYLOAD_REJECTED\",\"category\":null,\"human_review_required\":true,\"reason_codes\":[\"malformed_payload\"]}},{\"id\":\"intake-campaign-cell-mismatch\",\"group\":\"intake\",\"synthetic\":true,\"description\":\"campaign_id not found in registry -> campaign_context UNKNOWN, human review (T16)\",\"check\":\"classify_intake\",\"input\":{\"event_type\":\"reply_received\",\"campaign_known\":false,\"reply\":{\"subject\":\"Re: quick question\",\"text\":\"Looks interesting, tell me more.\"}},\"expected\":{\"intake_outcome\":\"CAMPAIGN_UNKNOWN_HUMAN_REVIEW\",\"category\":\"T16\",\"reply_mode\":\"HUMAN_ONLY\",\"stop_sequence\":true,\"suppression_level\":\"NONE\",\"human_review_required\":true,\"reason_codes\":[\"campaign_context_unknown\"]}},{\"id\":\"sender-dry-run-prevention\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"Valid approved send -> DRY_RUN_OK terminal, no transport, sent=false\",\"check\":\"sender_dry_run_terminal\",\"input\":{\"nes\":{\"intake_id\":\"intake-s001\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s1111111-1111-1111-1111-111111111111\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Thanks for your reply - happy to help.\"},\"approval\":{\"approved\":true}},\"expected\":{\"terminal.result\":\"DRY_RUN_OK\",\"terminal.send_state\":\"DRY_RUN_OK\",\"terminal.operating_mode\":\"VALIDATION\",\"terminal.dry_run\":true,\"terminal.send_key\":\"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb\",\"terminal.category\":\"INTERESTED\",\"terminal.reply_permitted_after_suppression\":true,\"terminal.transport\":\"NONE\",\"terminal.sent\":false}},{\"id\":\"sender-missing-approval\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"approval.approved is false -> gate rejection, BLOCKED terminal\",\"check\":\"sender_gate_rejection\",\"input\":{\"nes\":{\"intake_id\":\"intake-s002\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s2222222-2222-2222-2222-222222222222\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Thanks for your reply - happy to help.\"},\"approval\":{\"approved\":false}},\"expected\":{\"terminal.result\":\"BLOCKED\",\"terminal.send_state\":\"BLOCKED\",\"terminal.reason\":\"send_gates_failed\",\"terminal.details\":[\"approval_missing\",\"live_campaigns_empty_live_send_blocked\"],\"terminal.sent\":false}},{\"id\":\"sender-empty-live-campaigns\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"LIVE_CAMPAIGNS is hardcoded empty -> live_campaign_send_allowed false for any campaign\",\"check\":\"sender_gates\",\"input\":{\"nes\":{\"intake_id\":\"intake-s003\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s3333333-3333-3333-3333-333333333333\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Thanks for your reply - happy to help.\"},\"approval\":{\"approved\":true}},\"expected\":{\"gates.config_gate_passed\":true,\"gates.live_campaign_send_allowed\":false,\"gates.passed\":true,\"gates.reasons\":[\"live_campaigns_empty_live_send_blocked\"]}},{\"id\":\"sender-unresolved-template-variable\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"Draft still contains an unresolved [[token]] -> gate rejection, BLOCKED terminal\",\"check\":\"sender_gate_rejection\",\"input\":{\"nes\":{\"intake_id\":\"intake-s004\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s4444444-4444-4444-4444-444444444444\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Hi [[first_name]], thanks for your reply.\"},\"approval\":{\"approved\":true}},\"expected\":{\"terminal.result\":\"BLOCKED\",\"terminal.send_state\":\"BLOCKED\",\"terminal.reason\":\"send_gates_failed\",\"terminal.details\":[\"live_campaigns_empty_live_send_blocked\",\"unresolved_template_variables\"],\"terminal.sent\":false}},{\"id\":\"sender-concurrent-lock\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"hmz-send-state acquire returns LOCK_ALREADY_HELD (concurrent owner) -> BLOCKED terminal\",\"check\":\"acquisition_terminal\",\"input\":{\"decisionOutput\":{\"nes\":{\"intake_id\":\"intake-s005\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s5555555-5555-5555-5555-555555555555\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Thanks for your reply - happy to help.\"},\"approval\":{\"approved\":true}},\"acquireResponse\":{\"acquired\":false,\"reason\":\"LOCK_ALREADY_HELD\",\"sendKey\":\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\"}},\"expected\":{\"terminal.result\":\"BLOCKED\",\"terminal.send_state\":\"BLOCKED\",\"terminal.reason\":\"LOCK_ALREADY_HELD\",\"terminal.prior_state\":null,\"terminal.send_key\":\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\",\"terminal.sent\":false}},{\"id\":\"sender-sequential-rerun-lock\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"hmz-send-state acquire returns DURABLE_STATE_EXISTS for a prior DRY_RUN_OK send -> BLOCKED terminal, no reprocessing\",\"check\":\"acquisition_terminal\",\"input\":{\"decisionOutput\":{\"nes\":{\"intake_id\":\"intake-s006\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s6666666-6666-6666-6666-666666666666\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Thanks for your reply - happy to help.\"},\"approval\":{\"approved\":true}},\"acquireResponse\":{\"acquired\":false,\"reason\":\"DURABLE_STATE_EXISTS\",\"priorState\":\"DRY_RUN_OK\",\"sendKey\":\"dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd\"}},\"expected\":{\"terminal.result\":\"BLOCKED\",\"terminal.send_state\":\"BLOCKED\",\"terminal.reason\":\"DURABLE_STATE_EXISTS\",\"terminal.prior_state\":\"DRY_RUN_OK\",\"terminal.send_key\":\"dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd\",\"terminal.sent\":false}},{\"id\":\"sender-duplicate-send-attempt\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"hmz-send-state acquire returns DURABLE_STATE_EXISTS for an already SENT_RECONCILED send -> BLOCKED terminal, never re-sent\",\"check\":\"acquisition_terminal\",\"input\":{\"decisionOutput\":{\"nes\":{\"intake_id\":\"intake-s007\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"lead@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s7777777-7777-7777-7777-777777777777\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"INTERESTED\",\"reply_template_id\":\"template-t1\",\"address_suppression_intent\":\"NONE\",\"durable_dnc_intent\":false},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Thanks for your reply - happy to help.\"},\"approval\":{\"approved\":true}},\"acquireResponse\":{\"acquired\":false,\"reason\":\"DURABLE_STATE_EXISTS\",\"priorState\":\"SENT_RECONCILED\",\"sendKey\":\"eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee\"}},\"expected\":{\"terminal.result\":\"BLOCKED\",\"terminal.send_state\":\"BLOCKED\",\"terminal.reason\":\"DURABLE_STATE_EXISTS\",\"terminal.prior_state\":\"SENT_RECONCILED\",\"terminal.send_key\":\"eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee\",\"terminal.sent\":false}},{\"id\":\"sender-source-campaign-unsubscribe-success\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"Durable DNC intent with both suppression actions VERIFIED -> source-campaign action verified\",\"check\":\"suppression\",\"input\":{\"nes\":{\"intake_id\":\"intake-s008\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"unsub1@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s8888888-8888-8888-8888-888888888888\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"UNSUBSCRIBE\",\"reply_template_id\":\"template-unsub\",\"address_suppression_intent\":\"ORGANISATION_DNC\",\"durable_dnc_intent\":true},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Understood, you have been removed from this campaign.\"},\"approval\":{\"approved\":true},\"test_overrides\":{\"source_campaign_action_status\":\"VERIFIED\",\"workspace_blocklist_action_status\":\"VERIFIED\"}},\"expected\":{\"suppression.required\":true,\"suppression.source_campaign_action.performed\":true,\"suppression.source_campaign_action.status\":\"VERIFIED\",\"suppression.source_campaign_action.action\":\"update_interest_status_and_remove_subsequence\",\"suppression_verification.verified\":true,\"suppression_verification.source_campaign_verified\":true,\"suppression_verification.reason\":\"BOTH_ACTIONS_VERIFIED\"}},{\"id\":\"sender-exact-workspace-blocklist-success\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"Durable DNC intent with both suppression actions VERIFIED -> exact workspace block-list insert verified\",\"check\":\"suppression\",\"input\":{\"nes\":{\"intake_id\":\"intake-s009\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"unsub2@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"s9999999-9999-9999-9999-999999999999\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"UNSUBSCRIBE\",\"reply_template_id\":\"template-unsub\",\"address_suppression_intent\":\"GLOBAL_BLOCKLIST\",\"durable_dnc_intent\":true},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Understood, you have been removed and blocklisted.\"},\"approval\":{\"approved\":true},\"test_overrides\":{\"source_campaign_action_status\":\"VERIFIED\",\"workspace_blocklist_action_status\":\"VERIFIED\"}},\"expected\":{\"suppression.required\":true,\"suppression.workspace_blocklist_action.performed\":true,\"suppression.workspace_blocklist_action.status\":\"VERIFIED\",\"suppression.workspace_blocklist_action.action\":\"exact_email_blocklist_insert\",\"suppression_verification.workspace_blocklist_verified\":true,\"suppression_verification.verified\":true}},{\"id\":\"sender-partial-suppression-failure\",\"group\":\"sender\",\"synthetic\":true,\"description\":\"Source-campaign action verified but workspace blocklist action FAILED -> escalation terminal, not silently dropped\",\"check\":\"suppression\",\"input\":{\"nes\":{\"intake_id\":\"intake-s010\",\"eaccount\":\"sender@example.com\",\"lead_email\":\"unsub3@example.com\",\"campaign_id\":\"campaign-001\",\"threading\":{\"reply_to_uuid\":\"saaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa\"},\"reply\":{\"subject\":\"Re: quick question\"}},\"decision\":{\"reply_permitted\":true,\"human_review_required\":true,\"category\":\"UNSUBSCRIBE\",\"reply_template_id\":\"template-unsub\",\"address_suppression_intent\":\"ORGANISATION_DNC\",\"durable_dnc_intent\":true},\"validation\":{\"valid\":true},\"draft\":{\"draft_text\":\"Understood, you have been removed from this campaign.\"},\"approval\":{\"approved\":true},\"test_overrides\":{\"source_campaign_action_status\":\"VERIFIED\",\"workspace_blocklist_action_status\":\"FAILED\"}},\"expected\":{\"terminal.result\":\"ESCALATED\",\"terminal.send_state\":\"BLOCKED\",\"terminal.reason\":\"suppression_verification_failed\",\"terminal.sent\":false,\"terminal.details.verified\":false,\"terminal.details.escalate\":true,\"terminal.details.source_campaign_verified\":true,\"terminal.details.workspace_blocklist_verified\":false}},{\"id\":\"failure-http-400\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"400 -> terminal PERMANENT_FAILURE, no ambiguous side effect\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":400,\"body\":{\"error\":\"bad_request\"},\"headers\":{}}},\"expected\":{\"mode\":\"terminal\",\"state\":\"PERMANENT_FAILURE\",\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-401\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"401 -> terminal AUTH_OR_PLAN_FAILURE\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":401,\"body\":{\"error\":\"unauthorized\"},\"headers\":{}}},\"expected\":{\"mode\":\"terminal\",\"state\":\"AUTH_OR_PLAN_FAILURE\",\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-402\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"402 -> terminal AUTH_OR_PLAN_FAILURE\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":402,\"body\":{\"error\":\"payment_required\"},\"headers\":{}}},\"expected\":{\"mode\":\"terminal\",\"state\":\"AUTH_OR_PLAN_FAILURE\",\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-403\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"403 -> terminal AUTH_OR_PLAN_FAILURE\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":403,\"body\":{\"error\":\"forbidden\"},\"headers\":{}}},\"expected\":{\"mode\":\"terminal\",\"state\":\"AUTH_OR_PLAN_FAILURE\",\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-404-invalid-reply-target\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"404 -> terminal INVALID_REPLY_TARGET\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":404,\"body\":{\"error\":\"not_found\"},\"headers\":{}}},\"expected\":{\"mode\":\"terminal\",\"state\":\"INVALID_REPLY_TARGET\",\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-429-with-retry-after\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"429 with Retry-After header -> retryable, retryAfterMs honoured (capped)\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":429,\"body\":{\"error\":\"rate_limited\"},\"headers\":{\"retry-after\":\"30\"}}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":30000,\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-429-without-retry-after\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"429 with no Retry-After header -> retryable, falls back to exponential backoff\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":429,\"body\":{\"error\":\"rate_limited\"},\"headers\":{}}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":null,\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-500\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"500 -> retryable, exponential backoff\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":500,\"body\":{\"error\":\"internal\"},\"headers\":{}}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":null,\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-502\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"502 -> retryable, exponential backoff\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":502,\"body\":{\"error\":\"bad_gateway\"},\"headers\":{}}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":null,\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-503\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"503 -> retryable, exponential backoff\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":503,\"body\":{\"error\":\"unavailable\"},\"headers\":{}}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":null,\"ambiguousSideEffect\":false}},{\"id\":\"failure-http-504\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"504 -> retryable, exponential backoff\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":504,\"body\":{\"error\":\"gateway_timeout\"},\"headers\":{}}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":null,\"ambiguousSideEffect\":false}},{\"id\":\"failure-pre-submission-network-failure\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"Network error before the request reached the server -> retryable, no ambiguous side effect\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"network-error\",\"errorPhase\":\"pre-submission\",\"serverReceived\":false}},\"expected\":{\"mode\":\"retryable\",\"exhaustedState\":\"RETRY_EXHAUSTED\",\"retryAfterMs\":null,\"ambiguousSideEffect\":false}},{\"id\":\"failure-uncertain-connection-reset\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"Connection reset after the request may have reached the server -> terminal SEND_UNCERTAIN, ambiguous side effect\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"network-error\",\"errorPhase\":\"connection-reset\",\"serverReceived\":true}},\"expected\":{\"mode\":\"terminal\",\"state\":\"SEND_UNCERTAIN\",\"ambiguousSideEffect\":true}},{\"id\":\"failure-post-submission-timeout\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"Timeout waiting for a response after submission -> terminal SEND_UNCERTAIN, ambiguous side effect\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"network-error\",\"errorPhase\":\"post-submission-timeout\",\"serverReceived\":true}},\"expected\":{\"mode\":\"terminal\",\"state\":\"SEND_UNCERTAIN\",\"ambiguousSideEffect\":true}},{\"id\":\"failure-malformed-2xx\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"2xx response that does not match the verified sent contract -> terminal SEND_UNCERTAIN, ambiguous side effect\",\"check\":\"send_outcome\",\"input\":{\"outcome\":{\"kind\":\"http\",\"status\":200,\"body\":{\"unexpected\":\"shape\"},\"headers\":{}}},\"expected\":{\"mode\":\"terminal\",\"state\":\"SEND_UNCERTAIN\",\"ambiguousSideEffect\":true}},{\"id\":\"failure-reconcile-zero-matches\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"No matching sent message found across all polls -> HUMAN_REVIEW_ZERO_MATCHES\",\"check\":\"reconcile\",\"input\":{\"checks\":[[],[],[]],\"options\":{}},\"expected\":{\"state\":\"HUMAN_REVIEW_ZERO_MATCHES\",\"matchCount\":0,\"matchIds\":[]}},{\"id\":\"failure-reconcile-multiple-matches\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"A poll returns more than one candidate match -> HUMAN_REVIEW_MULTIPLE_MATCHES, escalate\",\"check\":\"reconcile\",\"input\":{\"checks\":[[\"sent-msg-a\",\"sent-msg-b\"]],\"options\":{}},\"expected\":{\"state\":\"HUMAN_REVIEW_MULTIPLE_MATCHES\",\"matchCount\":2,\"matchIds\":[\"sent-msg-a\",\"sent-msg-b\"]}},{\"id\":\"failure-reconcile-stable-repeated-match\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"Same single match seen on two consecutive polls -> SENT_RECONCILED\",\"check\":\"reconcile\",\"input\":{\"checks\":[[\"sent-msg-x\"],[\"sent-msg-x\"]],\"options\":{}},\"expected\":{\"state\":\"SENT_RECONCILED\",\"matchCount\":1,\"matchId\":\"sent-msg-x\"}},{\"id\":\"failure-no-second-post-after-uncertain\",\"group\":\"failure\",\"synthetic\":true,\"description\":\"Ambiguous 2xx on the first (and only) attempt -> SEND_UNCERTAIN, no second POST issued\",\"check\":\"plan_attempts\",\"input\":{\"outcomes\":[{\"kind\":\"http\",\"status\":200,\"body\":{\"unexpected\":\"shape\"},\"headers\":{},\"serverReceived\":true}],\"options\":{}},\"expected\":{\"finalState\":\"SEND_UNCERTAIN\",\"attempts\":1,\"postSubmissions\":1,\"secondPostAfterUncertain\":false,\"humanReviewRequired\":true}},{\"id\":\"monitoring-warning-180s\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"Record age exactly at the 180s warning threshold -> WARNING, not BREACH\",\"check\":\"watchdog_evaluation\",\"input\":{\"synthetic\":true,\"now\":\"2026-06-14T12:00:00.000Z\",\"unfinished\":{\"sends\":[{\"sendKey\":\"f000000000000000000000000000000000000000000000000000000000000f\",\"state\":\"SUBMITTING\",\"updatedAt\":\"2026-06-14T11:57:00.000Z\"}],\"errors\":[]}},\"expected\":{\"warning_threshold_seconds\":180,\"breach_threshold_seconds\":300,\"records.0.category\":\"API_RETRY\",\"records.0.sloType\":\"PROCESSING\",\"records.0.ageSeconds\":180,\"records.0.status\":\"WARNING\",\"warnings.length\":1,\"breaches.length\":0,\"processing_slo.warnings\":1,\"processing_slo.breaches\":0}},{\"id\":\"monitoring-breach-300s\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"Record age at the 300s breach threshold -> BREACH\",\"check\":\"watchdog_evaluation\",\"input\":{\"synthetic\":true,\"now\":\"2026-06-14T12:00:00.000Z\",\"unfinished\":{\"sends\":[{\"sendKey\":\"a000000000000000000000000000000000000000000000000000000000000a\",\"state\":\"LOCKED\",\"updatedAt\":\"2026-06-14T11:55:00.000Z\"}],\"errors\":[]}},\"expected\":{\"records.0.category\":\"AI_CLASSIFICATION_WAIT\",\"records.0.sloType\":\"PROCESSING\",\"records.0.ageSeconds\":300,\"records.0.status\":\"BREACH\",\"warnings.length\":0,\"breaches.length\":1,\"processing_slo.breaches\":1}},{\"id\":\"monitoring-resolved-record-excluded\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"An error record marked resolved via /v1/error/:errorId/resolve is excluded from listUnresolvedErrors - proven against state-store.mjs directly in run-offline-tests.mjs\",\"check\":\"sidecar_resolved_exclusion\",\"input\":{},\"expected\":{}},{\"id\":\"monitoring-duplicate-alert-blocked\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"A repeated alertKey is recorded only once via /v1/alert/dedupe (atomic open('wx')) - proven against state-store.mjs directly in run-offline-tests.mjs\",\"check\":\"sidecar_alert_dedupe\",\"input\":{},\"expected\":{}},{\"id\":\"monitoring-processing-transmission-slos-distinct\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"A SEND_UNCERTAIN send (transmission) and a HUMAN_REVIEW error (processing) are counted in separate SLOs\",\"check\":\"watchdog_evaluation\",\"input\":{\"synthetic\":true,\"now\":\"2026-06-14T12:00:00.000Z\",\"unfinished\":{\"sends\":[{\"sendKey\":\"1111111111111111111111111111111111111111111111111111111111111c\",\"state\":\"SEND_UNCERTAIN\",\"updatedAt\":\"2026-06-14T11:56:40.000Z\"}],\"errors\":[{\"errorId\":\"aaaaaaaaaaaaaaaa\",\"error_class\":\"UNKNOWN\",\"operator_action\":\"MANUAL_REVIEW\",\"reason\":\"needs_human_judgement\",\"recordedAt\":\"2026-06-14T11:56:40.000Z\"}]}},\"expected\":{\"records.0.category\":\"SEND_UNCERTAIN\",\"records.0.sloType\":\"TRANSMISSION\",\"records.0.status\":\"WARNING\",\"records.1.category\":\"HUMAN_REVIEW\",\"records.1.sloType\":\"PROCESSING\",\"records.1.status\":\"WARNING\",\"processing_slo.total\":1,\"processing_slo.warnings\":1,\"transmission_slo.total\":1,\"transmission_slo.warnings\":1}},{\"id\":\"monitoring-error-record-sanitised\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"An oversized failed_node value is truncated by redactErrorRecord before persistence\",\"check\":\"error_record_sanitised\",\"input\":{\"workflow\":{\"id\":\"wf-1\",\"name\":\"HMZ Test Workflow\"},\"execution\":{\"id\":\"exec-1\"},\"intake_id\":\"intake-m006\",\"http_status\":500,\"failed_node\":\"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\"},\"expected\":{\"workflow_id\":\"wf-1\",\"intake_id\":\"intake-m006\",\"error_class\":\"RETRYABLE\",\"retryable\":true,\"operator_action\":\"MONITOR_RETRY\",\"failed_node\":\"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...<TRUNCATED>\"}},{\"id\":\"monitoring-placeholder-routing-only\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"A breach alert is routed only to the placeholder notification object - never a real notification call\",\"check\":\"placeholder_routing\",\"input\":{\"synthetic\":true,\"now\":\"2026-06-14T12:00:00.000Z\",\"unfinished\":{\"sends\":[{\"sendKey\":\"2222222222222222222222222222222222222222222222222222222222222d\",\"state\":\"SUBMITTING\",\"updatedAt\":\"2026-06-14T11:55:00.000Z\"}],\"errors\":[]},\"dedupeResponse\":{\"results\":[{\"deduped\":false,\"firstSeenAt\":\"2026-06-14T12:00:00.000Z\"}]}},\"expected\":{\"surface\":\"PLACEHOLDER_NOT_CONFIGURED\",\"delivered\":false,\"alert_count\":1,\"deduped_count\":0}},{\"id\":\"monitoring-uncertain-send-never-retryable\",\"group\":\"monitoring\",\"synthetic\":true,\"description\":\"A SEND_UNCERTAIN record is never marked retryable, regardless of any accompanying http_status\",\"check\":\"send_uncertain_not_retryable\",\"input\":{\"send_state\":\"SEND_UNCERTAIN\",\"http_status\":500,\"intake_id\":\"intake-m008\"},\"expected\":{\"send_state\":\"SEND_UNCERTAIN\",\"error_class\":\"SEND_UNCERTAIN\",\"retryable\":false,\"operator_action\":\"MANUAL_RECONCILIATION_REQUIRED\"}}];\n\nconst SENDER_CONFIG = {\"OPERATING_MODE\": \"VALIDATION\", \"DRY_RUN\": true, \"LIVE_CAMPAIGNS\": [], \"LIVE_CREDENTIAL_READY\": false};\n\nconst SEND_RESULT_STATES = {\"SENT\": \"SENT\", \"PERMANENT_FAILURE\": \"PERMANENT_FAILURE\", \"AUTH_OR_PLAN_FAILURE\": \"AUTH_OR_PLAN_FAILURE\", \"INVALID_REPLY_TARGET\": \"INVALID_REPLY_TARGET\", \"RETRY_EXHAUSTED\": \"RETRY_EXHAUSTED\", \"SEND_UNCERTAIN\": \"SEND_UNCERTAIN\"};\n\nconst MAX_SEND_ATTEMPTS = 3;\n\nconst BASE_BACKOFF_MS = 100;\n\nconst MAX_BACKOFF_MS = 2000;\n\nconst RETRY_AFTER_CAP_MS = 5000;\n\nconst RECONCILE_STATES = {\"SENT_RECONCILED\": \"SENT_RECONCILED\", \"HUMAN_REVIEW_ZERO_MATCHES\": \"HUMAN_REVIEW_ZERO_MATCHES\", \"HUMAN_REVIEW_MULTIPLE_MATCHES\": \"HUMAN_REVIEW_MULTIPLE_MATCHES\"};\n\nfunction normalizeEmail(value) {\n  return String(value ?? '').trim().toLowerCase();\n}\n\nfunction djb2Hash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = (hash << 5) + hash + str.charCodeAt(i);\n    hash = hash & 0xffffffff;\n  }\n  return (hash >>> 0).toString(16).padStart(8, '0');\n}\n\nfunction deriveSendKey({ inboundEmailId, sender, recipient, policyTemplateId }) {\n  const raw = [\n    'HMZ_PHASE4A_SEND',\n    String(inboundEmailId ?? '').trim(),\n    normalizeEmail(sender),\n    normalizeEmail(recipient),\n    String(policyTemplateId ?? '').trim(),\n  ].join('|');\n  return `send-${djb2Hash(raw)}`;\n}\n\nfunction isValidSentContract(body) {\n  return (\n    !!body &&\n    typeof body === 'object' &&\n    body.status === 'sent' &&\n    typeof body.messageId === 'string' &&\n    body.messageId.length > 0\n  );\n}\n\nfunction deterministicJitter(attemptNumber) {\n  return (attemptNumber * 37) % 50;\n}\n\nfunction validateSenderInput(item) {\n  const input = item || {};\n  const nes = input.nes || {};\n  const decision = input.decision || {};\n  const validation = input.validation || {};\n  const threading = nes.threading || {};\n\n  const errors = [];\n\n  if (validation.valid !== true) errors.push('validation.valid is not true');\n  if (!threading.reply_to_uuid) errors.push('nes.threading.reply_to_uuid (inbound email id) is missing');\n  if (!nes.eaccount || nes.eaccount === 'UNKNOWN') errors.push('nes.eaccount (sender) is missing or UNKNOWN');\n  if (!nes.lead_email || nes.lead_email === 'UNKNOWN') errors.push('nes.lead_email (recipient) is missing or UNKNOWN');\n  if (!nes.intake_id) errors.push('nes.intake_id is missing');\n  if (typeof decision.reply_permitted !== 'boolean') errors.push('decision.reply_permitted is missing');\n  if (decision.human_review_required !== true) errors.push('decision.human_review_required is not true');\n\n  return Object.assign({}, {\n    ...input,\n    sender_validation: {\n      valid: errors.length === 0,\n      errors,\n    },\n  });\n}\n\nfunction runSendGates(item) {\n  const input = item || {};\n  const cfg = SENDER_CONFIG;\n  const reasons = [];\n\n  if (input.sender_validation && input.sender_validation.valid !== true) {\n    reasons.push('sender_validation_failed');\n  }\n\n  const configGatePassed =\n    cfg.OPERATING_MODE === 'VALIDATION' &&\n    cfg.DRY_RUN === true &&\n    Array.isArray(cfg.LIVE_CAMPAIGNS) &&\n    cfg.LIVE_CAMPAIGNS.length === 0;\n  if (!configGatePassed) reasons.push('config_gate_failed');\n\n  const approval = input.approval || {};\n  const approvalGatePassed = approval.approved === true;\n  if (!approvalGatePassed) reasons.push('approval_missing');\n\n  const nes = input.nes || {};\n  const campaignId = nes.campaign_id || null;\n  const liveCampaignSendAllowed = cfg.LIVE_CAMPAIGNS.includes(campaignId);\n  if (!liveCampaignSendAllowed) reasons.push('live_campaigns_empty_live_send_blocked');\n\n  const senderGatePassed = !!nes.eaccount && nes.eaccount !== 'UNKNOWN';\n  if (!senderGatePassed) reasons.push('sender_gate_failed');\n\n  const draft = input.draft || {};\n  const draftText = typeof draft.draft_text === 'string' ? draft.draft_text : null;\n  const unresolvedTokens = draftText ? draftText.match(/\\[\\[[^\\]]+\\]\\]|<<[^>]+>>/g) || [] : [];\n  const draftVariableGatePassed = draftText === null || unresolvedTokens.length === 0;\n  if (!draftVariableGatePassed) reasons.push('unresolved_template_variables');\n\n  const decision = input.decision || {};\n  const suppressionRequired =\n    decision.address_suppression_intent === 'ORGANISATION_DNC' ||\n    decision.address_suppression_intent === 'GLOBAL_BLOCKLIST' ||\n    decision.durable_dnc_intent === true;\n\n  const dryRunGatePassed = cfg.DRY_RUN === true;\n  if (!dryRunGatePassed) reasons.push('dry_run_gate_failed');\n\n  const passed =\n    (input.sender_validation ? input.sender_validation.valid === true : true) &&\n    configGatePassed &&\n    approvalGatePassed &&\n    senderGatePassed &&\n    draftVariableGatePassed &&\n    dryRunGatePassed;\n\n  return Object.assign({}, {\n    ...input,\n    gates: {\n      config_gate_passed: configGatePassed,\n      approval_gate_passed: approvalGatePassed,\n      live_campaign_send_allowed: liveCampaignSendAllowed,\n      sender_gate_passed: senderGatePassed,\n      draft_variable_gate_passed: draftVariableGatePassed,\n      unresolved_tokens: unresolvedTokens,\n      suppression_required: suppressionRequired,\n      dry_run_gate_passed: dryRunGatePassed,\n      passed,\n      reasons,\n    },\n  });\n}\n\nfunction buildGateRejectionTerminal(item) {\n  const input = item || {};\n  const gates = input.gates || {};\n  return Object.assign({}, {\n    ...input,\n    terminal: {\n      schema_version: '1.0',\n      result: 'BLOCKED',\n      send_state: 'BLOCKED',\n      reason: 'send_gates_failed',\n      details: gates.reasons || [],\n      sent: false,\n    },\n  });\n}\n\nfunction computeSendKey(item) {\n  const input = item || {};\n  const nes = input.nes || {};\n  const threading = nes.threading || {};\n  const decision = input.decision || {};\n\n  const inboundEmailId = threading.reply_to_uuid || null;\n  const sender = nes.eaccount || null;\n  const recipient = nes.lead_email || null;\n  const policyTemplateId = decision.reply_template_id || 'NO_TEMPLATE';\n\n  return Object.assign({}, {\n    ...input,\n    send_identity: {\n      inboundEmailId,\n      sender,\n      recipient,\n      policyTemplateId,\n      sendKey: deriveSendKey({ inboundEmailId, sender, recipient, policyTemplateId }),\n    },\n  });\n}\n\nfunction normalizeAcquisitionResult(priorItem, acquireResponse) {\n  const input = priorItem || {};\n  const response = acquireResponse || {};\n  const acquired = response.acquired === true;\n\n  return Object.assign({}, {\n    ...input,\n    acquisition: {\n      acquired,\n      blocked: !acquired,\n      reason: response.reason || null,\n      priorState: response.priorState || null,\n      sendKey: response.sendKey || (input.send_identity && input.send_identity.sendKey) || null,\n    },\n  });\n}\n\nfunction buildBlockedDuplicateTerminal(item) {\n  const input = item || {};\n  const acquisition = input.acquisition || {};\n  return Object.assign({}, {\n    ...input,\n    terminal: {\n      schema_version: '1.0',\n      result: 'BLOCKED',\n      send_state: 'BLOCKED',\n      reason: acquisition.reason || 'SEND_OWNERSHIP_NOT_ACQUIRED',\n      prior_state: acquisition.priorState || null,\n      send_key: acquisition.sendKey || null,\n      sent: false,\n    },\n  });\n}\n\nfunction mockSuppressionAdapter(item) {\n  const input = item || {};\n  const decision = input.decision || {};\n\n  const required =\n    decision.address_suppression_intent === 'ORGANISATION_DNC' ||\n    decision.address_suppression_intent === 'GLOBAL_BLOCKLIST' ||\n    decision.durable_dnc_intent === true;\n\n  if (!required) {\n    return Object.assign({}, {\n      ...input,\n      suppression: {\n        required: false,\n        source_campaign_action: { performed: false, status: 'NOT_REQUIRED' },\n        workspace_blocklist_action: { performed: false, status: 'NOT_REQUIRED' },\n      },\n    });\n  }\n\n  // Deterministic mock adapter. test_overrides lets the offline harness\n  // exercise the partial-failure / escalation path without any network\n  // access.\n  const overrides = input.test_overrides || {};\n  const sourceStatus = overrides.source_campaign_action_status || 'VERIFIED';\n  const blocklistStatus = overrides.workspace_blocklist_action_status || 'VERIFIED';\n\n  return Object.assign({}, {\n    ...input,\n    suppression: {\n      required: true,\n      source_campaign_action: {\n        performed: true,\n        status: sourceStatus,\n        action: 'update_interest_status_and_remove_subsequence',\n      },\n      workspace_blocklist_action: {\n        performed: true,\n        status: blocklistStatus,\n        action: 'exact_email_blocklist_insert',\n      },\n    },\n  });\n}\n\nfunction verifySuppressionResults(item) {\n  const input = item || {};\n  const suppression = input.suppression || {};\n\n  if (!suppression.required) {\n    return Object.assign({}, {\n      ...input,\n      suppression_verification: {\n        verified: true,\n        escalate: false,\n        source_campaign_verified: true,\n        workspace_blocklist_verified: true,\n        reason: 'NOT_REQUIRED',\n      },\n    });\n  }\n\n  const sourceOk = (suppression.source_campaign_action || {}).status === 'VERIFIED';\n  const blocklistOk = (suppression.workspace_blocklist_action || {}).status === 'VERIFIED';\n  const verified = sourceOk && blocklistOk;\n\n  return Object.assign({}, {\n    ...input,\n    suppression_verification: {\n      verified,\n      escalate: !verified,\n      source_campaign_verified: sourceOk,\n      workspace_blocklist_verified: blocklistOk,\n      reason: verified ? 'BOTH_ACTIONS_VERIFIED' : 'PARTIAL_OR_FAILED_SUPPRESSION',\n    },\n  });\n}\n\nfunction buildSuppressionEscalationTerminal(item) {\n  const input = item || {};\n  return Object.assign({}, {\n    ...input,\n    terminal: {\n      schema_version: '1.0',\n      result: 'ESCALATED',\n      send_state: 'BLOCKED',\n      reason: 'suppression_verification_failed',\n      details: input.suppression_verification || {},\n      sent: false,\n    },\n  });\n}\n\nfunction buildDryRunTerminal(priorItem, transitionResponse) {\n  const input = priorItem || {};\n  const response = transitionResponse || {};\n  const decision = input.decision || {};\n  const suppressionVerification = input.suppression_verification || { verified: true };\n\n  // T7 unsubscribe confirmation may be transmitted (even in a later live\n  // phase) only once both suppression actions are verified.\n  const replyPermittedAfterSuppression =\n    decision.reply_permitted === true && suppressionVerification.verified === true;\n\n  const acquisition = input.acquisition || {};\n\n  return Object.assign({}, {\n    ...input,\n    terminal: {\n      schema_version: '1.0',\n      result: 'DRY_RUN_OK',\n      send_state: response.state || 'DRY_RUN_OK',\n      operating_mode: SENDER_CONFIG.OPERATING_MODE,\n      dry_run: SENDER_CONFIG.DRY_RUN,\n      send_key: acquisition.sendKey || (input.send_identity && input.send_identity.sendKey) || null,\n      category: decision.category || null,\n      reply_permitted_after_suppression: replyPermittedAfterSuppression,\n      transport: 'NONE',\n      sent: false,\n      reason: 'DRY_RUN=true: no transport attempted; ownership acquired and recorded as DRY_RUN_OK.',\n    },\n  });\n}\n\nfunction classifySendOutcome(outcome) {\n  const out = outcome || {};\n\n  if (out.kind === 'http') {\n    const status = out.status;\n    const body = out.body;\n    const headers = out.headers || {};\n\n    if (status === 400) {\n      return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.PERMANENT_FAILURE, ambiguousSideEffect: false });\n    }\n    if (status === 401 || status === 402 || status === 403) {\n      return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.AUTH_OR_PLAN_FAILURE, ambiguousSideEffect: false });\n    }\n    if (status === 404) {\n      return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.INVALID_REPLY_TARGET, ambiguousSideEffect: false });\n    }\n    if (status === 429 || status === 500 || status === 502 || status === 503 || status === 504) {\n      const retryAfterRaw = headers['retry-after'] ?? headers['Retry-After'] ?? null;\n      const retryAfterSeconds = retryAfterRaw == null ? null : Number(retryAfterRaw);\n      const retryAfterMs =\n        status === 429 && Number.isFinite(retryAfterSeconds) && retryAfterSeconds >= 0\n          ? retryAfterSeconds * 1000\n          : null;\n      return Object.assign({}, {\n        mode: 'retryable',\n        exhaustedState: SEND_RESULT_STATES.RETRY_EXHAUSTED,\n        retryAfterMs,\n        ambiguousSideEffect: false,\n      });\n    }\n    if (status >= 200 && status < 300) {\n      if (isValidSentContract(body)) {\n        return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.SENT, ambiguousSideEffect: false });\n      }\n      return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.SEND_UNCERTAIN, ambiguousSideEffect: true });\n    }\n    return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.SEND_UNCERTAIN, ambiguousSideEffect: true });\n  }\n\n  if (out.kind === 'network-error') {\n    const retryablePhases = ['connection-refused', 'pre-submission'];\n    if (retryablePhases.includes(out.errorPhase)) {\n      return Object.assign({}, {\n        mode: 'retryable',\n        exhaustedState: SEND_RESULT_STATES.RETRY_EXHAUSTED,\n        retryAfterMs: null,\n        ambiguousSideEffect: false,\n      });\n    }\n    return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.SEND_UNCERTAIN, ambiguousSideEffect: true });\n  }\n\n  return Object.assign({}, { mode: 'terminal', state: SEND_RESULT_STATES.SEND_UNCERTAIN, ambiguousSideEffect: true });\n}\n\nfunction planSendAttempts(outcomes, options) {\n  const opts = options || {};\n  const jitter = opts.jitter || deterministicJitter;\n  const maxAttempts = opts.maxAttempts || MAX_SEND_ATTEMPTS;\n  const list = Array.isArray(outcomes) ? outcomes : [];\n\n  const attemptOutcomes = [];\n  const backoffDelaysRequested = [];\n  let postSubmissions = 0;\n  let retried = false;\n  let retryAfterHonoured = null;\n  let finalState = null;\n  let secondPostAfterUncertain = false;\n\n  for (let attempt = 1; attempt <= Math.min(maxAttempts, list.length || maxAttempts); attempt++) {\n    const outcome = list[attempt - 1] || { kind: 'network-error', errorPhase: 'pre-submission', serverReceived: false };\n    attemptOutcomes.push(outcome);\n    if (outcome.serverReceived) postSubmissions++;\n\n    const classification = classifySendOutcome(outcome);\n\n    if (classification.mode === 'terminal') {\n      finalState = classification.state;\n      if (finalState === SEND_RESULT_STATES.SEND_UNCERTAIN && attempt < list.length) {\n        secondPostAfterUncertain = true;\n      }\n      break;\n    }\n\n    if (attempt === maxAttempts || attempt === list.length) {\n      finalState = classification.exhaustedState;\n      break;\n    }\n\n    let delayMs;\n    if (classification.retryAfterMs != null) {\n      delayMs = Math.min(classification.retryAfterMs, RETRY_AFTER_CAP_MS);\n      if (retryAfterHonoured === null) retryAfterHonoured = true;\n    } else {\n      if (retryAfterHonoured === null) retryAfterHonoured = false;\n      const exponential = BASE_BACKOFF_MS * 2 ** (attempt - 1);\n      delayMs = Math.min(exponential + jitter(attempt), MAX_BACKOFF_MS);\n    }\n    backoffDelaysRequested.push(delayMs);\n    retried = true;\n  }\n\n  return Object.assign({}, {\n    finalState,\n    attempts: attemptOutcomes.length,\n    postSubmissions,\n    retried,\n    backoffDelaysRequested,\n    retryAfterHonoured,\n    secondPostAfterUncertain,\n    humanReviewRequired: finalState !== SEND_RESULT_STATES.SENT,\n  });\n}\n\nfunction reconcileMatches(checks, options) {\n  const opts = options || {};\n  const consecutiveRequired = opts.consecutiveRequired || 2;\n  const polls = Array.isArray(checks) ? checks : [];\n\n  let lastSingleMatchId = null;\n  let consecutiveSameSingleMatch = 0;\n\n  for (const matchIds of polls) {\n    const ids = Array.isArray(matchIds) ? matchIds : [];\n    if (ids.length > 1) {\n      return Object.assign({}, { state: RECONCILE_STATES.HUMAN_REVIEW_MULTIPLE_MATCHES, matchCount: ids.length, matchIds: ids });\n    }\n    if (ids.length === 1) {\n      const currentId = ids[0];\n      if (currentId === lastSingleMatchId) {\n        consecutiveSameSingleMatch += 1;\n      } else {\n        lastSingleMatchId = currentId;\n        consecutiveSameSingleMatch = 1;\n      }\n      if (consecutiveSameSingleMatch >= consecutiveRequired) {\n        return Object.assign({}, { state: RECONCILE_STATES.SENT_RECONCILED, matchCount: 1, matchId: currentId });\n      }\n    } else {\n      lastSingleMatchId = null;\n      consecutiveSameSingleMatch = 0;\n    }\n  }\n\n  return Object.assign({}, { state: RECONCILE_STATES.HUMAN_REVIEW_ZERO_MATCHES, matchCount: 0, matchIds: [] });\n}\n\nconst REDACT_KEY_PATTERN = /(authoriz|api[_-]?key|secret|token|password|cookie|bearer)/i;\n\nconst MAX_STRING_LENGTH = 300;\n\nconst RETRYABLE_HTTP_STATUSES = [429, 500, 502, 503, 504];\n\nconst OPERATOR_ACTION_BY_CLASS = {\"PERMANENT_FAILURE\": \"REVIEW_PAYLOAD\", \"AUTH_OR_PLAN_FAILURE\": \"CHECK_CREDENTIALS_AND_PLAN\", \"INVALID_REPLY_TARGET\": \"INVESTIGATE_REPLY_TARGET\", \"RETRYABLE\": \"MONITOR_RETRY\", \"SEND_UNCERTAIN\": \"MANUAL_RECONCILIATION_REQUIRED\", \"UNKNOWN\": \"MANUAL_REVIEW\"};\n\nfunction redactValue(value) {\n  if (value === null || value === undefined) return value;\n  if (Array.isArray(value)) return value.slice(0, 20).map(redactValue);\n  if (typeof value === 'object') {\n    const out = {};\n    for (const key of Object.keys(value)) {\n      if (REDACT_KEY_PATTERN.test(key)) {\n        out[key] = '<REDACTED>';\n        continue;\n      }\n      out[key] = redactValue(value[key]);\n    }\n    return out;\n  }\n  if (typeof value === 'string' && value.length > MAX_STRING_LENGTH) {\n    return `${value.slice(0, MAX_STRING_LENGTH)}...<TRUNCATED>`;\n  }\n  return value;\n}\n\nfunction classifyErrorClass(item) {\n  const input = item || {};\n  if (input.error_class) return input.error_class;\n\n  // SEND_UNCERTAIN is a definitive ambiguous-outcome determination made by\n  // the Sender workflow and must take priority over any http_status-based\n  // inference, so error_class/retryable/operator_action stay consistent\n  // (never RETRYABLE/MONITOR_RETRY for a SEND_UNCERTAIN record).\n  if (input.send_state === 'SEND_UNCERTAIN') return 'SEND_UNCERTAIN';\n\n  const status = input.http_status;\n  if (status === 400) return 'PERMANENT_FAILURE';\n  if (status === 401 || status === 402 || status === 403) return 'AUTH_OR_PLAN_FAILURE';\n  if (status === 404) return 'INVALID_REPLY_TARGET';\n  if (RETRYABLE_HTTP_STATUSES.includes(status)) return 'RETRYABLE';\n  return 'UNKNOWN';\n}\n\nfunction deriveRetryable(item) {\n  const input = item || {};\n  if (input.send_state === 'SEND_UNCERTAIN') return false;\n  if (typeof input.retryable === 'boolean') return input.retryable;\n  return classifyErrorClass(input) === 'RETRYABLE';\n}\n\nfunction deriveOperatorAction(item) {\n  const input = item || {};\n  if (input.operator_action) return input.operator_action;\n  const errorClass = classifyErrorClass(input);\n  return OPERATOR_ACTION_BY_CLASS[errorClass] || 'MANUAL_REVIEW';\n}\n\nfunction normalizeErrorEvent(item) {\n  const input = item || {};\n  const execution = input.execution || {};\n  const workflowInfo = input.workflow || {};\n  const trigger = input.trigger || {};\n  const triggerError = trigger.error || {};\n\n  const failedNode =\n    input.failed_node || triggerError.node?.name || execution.lastNodeExecuted || null;\n\n  const errorClass = classifyErrorClass(input);\n\n  return Object.assign({}, {\n    ...input,\n    error_record: {\n      schema_version: '1.0',\n      workflow_id: workflowInfo.id || input.workflow_id || null,\n      workflow_name: workflowInfo.name || input.workflow_name || null,\n      execution_id: execution.id || input.execution_id || null,\n      failed_node: failedNode,\n      intake_id: input.intake_id || (input.nes && input.nes.intake_id) || null,\n      send_key:\n        input.send_key ||\n        (input.acquisition && input.acquisition.sendKey) ||\n        (input.send_identity && input.send_identity.sendKey) ||\n        null,\n      send_state: input.send_state || (input.terminal && input.terminal.send_state) || null,\n      http_status: typeof input.http_status === 'number' ? input.http_status : null,\n      error_class: errorClass,\n      attempt: typeof input.attempt === 'number' ? input.attempt : null,\n      retryable: deriveRetryable(input),\n      operator_action: deriveOperatorAction(input),\n    },\n  });\n}\n\nfunction redactErrorRecord(item) {\n  const input = item || {};\n  return Object.assign({}, {\n    ...input,\n    error_record: redactValue(input.error_record || {}),\n  });\n}\n\nfunction buildPlaceholderNotification(item) {\n  const input = item || {};\n  const record = input.error_record || {};\n  return Object.assign({}, {\n    ...input,\n    notification: {\n      schema_version: '1.0',\n      surface: 'PLACEHOLDER_NOT_CONFIGURED',\n      delivered: false,\n      summary: `Error in ${record.workflow_name || 'unknown workflow'}: ${record.error_class || 'UNKNOWN'} at node ${record.failed_node || 'unknown'}`,\n      operator_action: record.operator_action || 'MANUAL_REVIEW',\n    },\n  });\n}\n\nfunction attachErrorId(priorItem, persistResponse) {\n  const input = priorItem || {};\n  const response = persistResponse || {};\n  return Object.assign({}, {\n    ...input,\n    persisted_error: {\n      errorId: response.errorId || null,\n    },\n  });\n}\n\nconst SEND_STATE_BASE_URL = \"http://hmz-send-state:5681\";\n\nconst SLA_WARNING_THRESHOLD_SECONDS = 180;\n\nconst SLA_BREACH_THRESHOLD_SECONDS = 300;\n\nconst WATCHDOG_CATEGORIES = {\"AI_CLASSIFICATION_WAIT\": \"AI_CLASSIFICATION_WAIT\", \"API_RETRY\": \"API_RETRY\", \"HUMAN_REVIEW\": \"HUMAN_REVIEW\", \"SEND_FAILURE\": \"SEND_FAILURE\", \"SEND_UNCERTAIN\": \"SEND_UNCERTAIN\", \"SUPPRESSION_FAILURE\": \"SUPPRESSION_FAILURE\", \"UNKNOWN_STATE\": \"UNKNOWN_STATE\"};\n\nconst TRANSMISSION_CATEGORIES = [\"SEND_UNCERTAIN\"];\n\nconst SLO_TYPES = {\"PROCESSING\": \"PROCESSING\", \"TRANSMISSION\": \"TRANSMISSION\"};\n\nconst SLA_STATUSES = {\"OK\": \"OK\", \"WARNING\": \"WARNING\", \"BREACH\": \"BREACH\"};\n\nconst SEND_FAILURE_STATES = [\"PERMANENT_FAILURE\", \"AUTH_OR_PLAN_FAILURE\", \"INVALID_REPLY_TARGET\", \"RETRY_EXHAUSTED\"];\n\nfunction classifySendRecord(record) {\n  const rec = record || {};\n  switch (rec.state) {\n    case 'LOCKED':\n      return WATCHDOG_CATEGORIES.AI_CLASSIFICATION_WAIT;\n    case 'SUBMITTING':\n      return WATCHDOG_CATEGORIES.API_RETRY;\n    case 'SENT':\n    case 'SEND_UNCERTAIN':\n      return WATCHDOG_CATEGORIES.SEND_UNCERTAIN;\n    default:\n      return WATCHDOG_CATEGORIES.UNKNOWN_STATE;\n  }\n}\n\nfunction classifyErrorRecord(record) {\n  const rec = record || {};\n  const errorClass = rec.error_class;\n\n  if (errorClass === 'SEND_UNCERTAIN') return WATCHDOG_CATEGORIES.SEND_UNCERTAIN;\n  if (errorClass === 'RETRYABLE') return WATCHDOG_CATEGORIES.API_RETRY;\n  if (SEND_FAILURE_STATES.includes(errorClass)) return WATCHDOG_CATEGORIES.SEND_FAILURE;\n  if (rec.reason === 'suppression_verification_failed') return WATCHDOG_CATEGORIES.SUPPRESSION_FAILURE;\n  if (rec.operator_action === 'MANUAL_REVIEW' || errorClass === 'UNKNOWN') {\n    return rec.reason === undefined && errorClass === 'UNKNOWN'\n      ? WATCHDOG_CATEGORIES.UNKNOWN_STATE\n      : WATCHDOG_CATEGORIES.HUMAN_REVIEW;\n  }\n  return WATCHDOG_CATEGORIES.UNKNOWN_STATE;\n}\n\nfunction sloTypeForCategory(category) {\n  return TRANSMISSION_CATEGORIES.includes(category) ? SLO_TYPES.TRANSMISSION : SLO_TYPES.PROCESSING;\n}\n\nfunction timestampForSendRecord(record, sloType) {\n  const rec = record || {};\n  const details = rec.details || {};\n  if (sloType === SLO_TYPES.TRANSMISSION) {\n    return details.transmissionStartedAt || details.submissionStartedAt || rec.updatedAt || rec.createdAt || null;\n  }\n  return rec.createdAt || rec.updatedAt || null;\n}\n\nfunction ageSeconds(timestampIso, nowIso) {\n  const ts = Date.parse(timestampIso || '');\n  const now = Date.parse(nowIso || '');\n  if (!Number.isFinite(ts) || !Number.isFinite(now)) return null;\n  return Math.max(0, Math.round((now - ts) / 1000));\n}\n\nfunction statusForAge(age) {\n  if (age === null) return SLA_STATUSES.OK;\n  if (age >= SLA_BREACH_THRESHOLD_SECONDS) return SLA_STATUSES.BREACH;\n  if (age >= SLA_WARNING_THRESHOLD_SECONDS) return SLA_STATUSES.WARNING;\n  return SLA_STATUSES.OK;\n}\n\nfunction evaluateUnfinishedRecords(item) {\n  const input = item || {};\n  const unfinished = input.unfinished || { sends: [], errors: [] };\n  const now = (input.test_overrides && input.test_overrides.now) || input.now || new Date().toISOString();\n\n  const records = [];\n\n  for (const send of unfinished.sends || []) {\n    const category = classifySendRecord(send);\n    const sloType = sloTypeForCategory(category);\n    const ageTimestamp = timestampForSendRecord(send, sloType);\n    const age = ageSeconds(ageTimestamp, now);\n    records.push({\n      kind: 'send',\n      identifier: send.sendKey || null,\n      state: send.state || null,\n      category,\n      sloType,\n      ageSeconds: age,\n      status: statusForAge(age),\n      createdAt: send.createdAt || null,\n      updatedAt: send.updatedAt || null,\n      ageTimestamp,\n    });\n  }\n\n  for (const error of unfinished.errors || []) {\n    const category = classifyErrorRecord(error);\n    const sloType = sloTypeForCategory(category);\n    const age = ageSeconds(error.recordedAt, now);\n    records.push({\n      kind: 'error',\n      identifier: error.errorId || null,\n      state: error.error_class || null,\n      category,\n      sloType,\n      ageSeconds: age,\n      status: statusForAge(age),\n      updatedAt: error.recordedAt || null,\n    });\n  }\n\n  const warnings = records.filter((r) => r.status === SLA_STATUSES.WARNING);\n  const breaches = records.filter((r) => r.status === SLA_STATUSES.BREACH);\n\n  const processing = records.filter((r) => r.sloType === SLO_TYPES.PROCESSING);\n  const transmission = records.filter((r) => r.sloType === SLO_TYPES.TRANSMISSION);\n\n  return Object.assign({}, {\n    ...input,\n    watchdog_evaluation: {\n      schema_version: '1.0',\n      synthetic: input.synthetic === true,\n      now,\n      warning_threshold_seconds: SLA_WARNING_THRESHOLD_SECONDS,\n      breach_threshold_seconds: SLA_BREACH_THRESHOLD_SECONDS,\n      records,\n      warnings,\n      breaches,\n      processing_slo: {\n        total: processing.length,\n        warnings: processing.filter((r) => r.status === SLA_STATUSES.WARNING).length,\n        breaches: processing.filter((r) => r.status === SLA_STATUSES.BREACH).length,\n      },\n      transmission_slo: {\n        total: transmission.length,\n        warnings: transmission.filter((r) => r.status === SLA_STATUSES.WARNING).length,\n        breaches: transmission.filter((r) => r.status === SLA_STATUSES.BREACH).length,\n      },\n    },\n  });\n}\n\nfunction buildAlertKey(record) {\n  const rec = record || {};\n  return ['WATCHDOG_ALERT', rec.sloType, rec.category, rec.kind, rec.identifier, rec.status].join('|');\n}\n\nfunction buildAlertRecords(item) {\n  const input = item || {};\n  const evaluation = input.watchdog_evaluation || { warnings: [], breaches: [] };\n  const candidates = [...(evaluation.warnings || []), ...(evaluation.breaches || [])];\n\n  const alerts = candidates.map((record) => ({\n    schema_version: '1.0',\n    alert_key: buildAlertKey(record),\n    severity: record.status,\n    sloType: record.sloType,\n    category: record.category,\n    kind: record.kind,\n    identifier: record.identifier,\n    ageSeconds: record.ageSeconds,\n  }));\n\n  return Object.assign({}, {\n    ...input,\n    alert_candidates: alerts,\n  });\n}\n\nfunction mergeAlertDedupeResults(priorItem, dedupeResponse) {\n  const input = priorItem || {};\n  const candidates = input.alert_candidates || [];\n  const response = dedupeResponse || {};\n  if (!Array.isArray(response.results) || response.results.length !== candidates.length) {\n    throw new Error('invalid_alert_dedupe_response');\n  }\n  const results = response.results;\n  for (const result of results) {\n    if (typeof result?.deduped !== 'boolean') {\n      throw new Error('invalid_alert_dedupe_item');\n    }\n  }\n\n  const alerts = candidates.map((candidate, idx) => {\n    const dedupe = results[idx];\n    return Object.assign({}, {\n      ...candidate,\n      deduped: dedupe.deduped === true,\n      first_seen_at: dedupe.firstSeenAt || null,\n    });\n  });\n\n  const toNotify = alerts.filter((a) => a.deduped !== true);\n\n  return Object.assign({}, {\n    ...input,\n    alerts,\n    notification: {\n      schema_version: '1.0',\n      surface: 'PLACEHOLDER_NOT_CONFIGURED',\n      delivered: false,\n      alert_count: toNotify.length,\n      deduped_count: alerts.length - toNotify.length,\n    },\n  });\n}\n\nfunction buildWatchdogResult(item) {\n  const input = item || {};\n  const evaluation = input.watchdog_evaluation || {};\n  const alerts = input.alerts || [];\n  const notification = input.notification || { surface: 'PLACEHOLDER_NOT_CONFIGURED', delivered: false };\n\n  return Object.assign({}, {\n    ...input,\n    watchdog_result: {\n      schema_version: '1.0',\n      synthetic: evaluation.synthetic === true,\n      validation_mode: true,\n      now: evaluation.now || null,\n      processing_slo: evaluation.processing_slo || { total: 0, warnings: 0, breaches: 0 },\n      transmission_slo: evaluation.transmission_slo || { total: 0, warnings: 0, breaches: 0 },\n      alerts: alerts.map((a) => ({\n        alert_key: a.alert_key,\n        severity: a.severity,\n        sloType: a.sloType,\n        category: a.category,\n        kind: a.kind,\n        identifier: a.identifier,\n        ageSeconds: a.ageSeconds,\n        deduped: a.deduped === true,\n      })),\n      notification,\n    },\n  });\n}\n\nfunction mergeUnfinishedResponse(priorItem, unfinishedResponse) {\n  const input = priorItem || {};\n  const response = unfinishedResponse || {};\n  if (!Array.isArray(response.sends) || !Array.isArray(response.errors)) {\n    throw new Error('invalid_unfinished_response');\n  }\n  return Object.assign({}, {\n    ...input,\n    unfinished: {\n      sends: response.sends,\n      errors: response.errors,\n    },\n  });\n}\n\nfunction attachPhase4bResultId(priorItem, persistResponse) {\n  const input = priorItem || {};\n  const response = persistResponse || {};\n  if (!/^[0-9a-f]{16}$/.test(String(response.resultId || ''))) {\n    throw new Error('invalid_phase4b_persist_response');\n  }\n  return Object.assign({}, {\n    ...input,\n    phase4b_result_id: response.resultId,\n  });\n}\n\nconst CATEGORY_ACTION_DEFAULTS = {\"T1\": {\"reply_mode\": \"AI_DRAFT_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T2\": {\"reply_mode\": \"AI_DRAFT_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T3\": {\"reply_mode\": \"FIXED_TEMPLATE_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T4\": {\"reply_mode\": \"FIXED_TEMPLATE_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T5\": {\"reply_mode\": \"FIXED_TEMPLATE_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T6\": {\"reply_mode\": \"FIXED_TEMPLATE_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false, \"interest_status_update\": \"NOT_INTERESTED\"}, \"T7\": {\"reply_mode\": \"FIXED_TEMPLATE_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"WORKSPACE_DNC\", \"human_review_required\": false, \"escalation_required\": false}, \"T8\": {\"reply_mode\": \"NO_REPLY\", \"stop_sequence\": false, \"pause_sequence\": true, \"suppression_level\": \"NONE\", \"human_review_required\": false, \"escalation_required\": false}, \"T9\": {\"reply_mode\": \"NO_REPLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": false, \"escalation_required\": false, \"data_cleanup_required\": true}, \"T10\": {\"reply_mode\": \"FIXED_TEMPLATE_APPROVAL\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T11\": {\"reply_mode\": \"HUMAN_ONLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T12\": {\"reply_mode\": \"HUMAN_ONLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"REVIEW_HOLD\", \"human_review_required\": true, \"escalation_required\": true}, \"T13\": {\"reply_mode\": \"HUMAN_ONLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"REVIEW_HOLD\", \"human_review_required\": true, \"escalation_required\": true}, \"T14\": {\"reply_mode\": \"HUMAN_ONLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T15\": {\"reply_mode\": \"HUMAN_ONLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}, \"T16\": {\"reply_mode\": \"HUMAN_ONLY\", \"stop_sequence\": true, \"pause_sequence\": false, \"suppression_level\": \"NONE\", \"human_review_required\": true, \"escalation_required\": false}};\n\nconst RULES_HARD_SAFETY = [{\"code\": \"det-unsub-001\", \"re\": /(unsubscribe|remove me|take me off|opt out|stop emailing|stop contacting|do not contact me again|delete me from your outreach)/, \"category\": \"T7\"}, {\"code\": \"det-legal-001\", \"re\": /(gdpr|ccpa|hipaa|privacy act|data protection|right to be forgotten|where did you get my (email|data|info))/, \"category\": \"T12\", \"legal\": true, \"privacy\": true}, {\"code\": \"det-legal-002\", \"re\": /(attorney|lawyer|legal counsel|lawsuit|cease and desist|c&d)/, \"category\": \"T12\", \"legal\": true}, {\"code\": \"det-regulator-001\", \"re\": /(ftc|\\bico\\b|reporting you to|filing a complaint with)/, \"category\": \"T12\", \"legal\": true}, {\"code\": \"det-hostile-001\", \"re\": /(i'?m going to (find|hurt) you|i know where you (live|work)|extort|doxx)/, \"category\": \"T13\", \"legal\": true, \"reputational\": true}, {\"code\": \"det-hostile-002\", \"re\": /(fuck|asshole|idiot|you (will|are going to) regret)/, \"category\": \"T13\", \"reputational\": true}, {\"code\": \"det-complaint-001\", \"re\": /(spam|reported you|reporting this to|continued contact after)/, \"category\": \"T12\", \"reputational\": true}];\n\nconst RULES_BOUNCE_OOO = [{\"code\": \"det-bounce-001\", \"re\": /(mailer-daemon|postmaster)/, \"category\": \"T9\", \"needsEvidence\": true}, {\"code\": \"det-bounce-002\", \"re\": /(undeliverable|delivery failed|returned mail|mailbox full)/, \"category\": \"T9\", \"needsEvidence\": true}, {\"code\": \"det-ooo-001\", \"re\": /(out of office|on vacation|on (annual |parental )?leave|sabbatical|automatic reply|away from the office)/, \"category\": \"T8\"}];\n\nconst RULES_PRICE_ATTACH = [{\"code\": \"det-price-001\", \"re\": /(your price|your cost|quote|\\brfp\\b|\\brfi\\b|\\bcontract\\b|\\bmsa\\b|\\bsow\\b|discount|enterprise pricing|pricing)/, \"category\": \"T11\"}, {\"code\": \"det-attach-001\", \"re\": /(see attached|attachment|attached (is|are|please|the|for))/, \"category\": \"T14\"}];\n\nconst RULES_STRONG = [{\"code\": \"det-booking-001\", \"re\": /(book a time|send me your calendar|schedule a call|calendar link|calendly|free (on|at) \\w+|what times work)/, \"category\": \"T3\"}, {\"code\": \"det-referral-001\", \"re\": /(please contact|reach out to|talk to .* instead|forward you to|the right person is|this is handled by)/, \"category\": \"T5\"}, {\"code\": \"det-wrong-001\", \"re\": /(wrong person|wrong address|not the right person|not in that role|no longer work here|not with that company)/, \"category\": \"T10\"}];\n\nconst RE_NOT_INTERESTED = /(not interested|no thanks|we'?re all set|not the right fit|thanks but no thanks|we already use)/;\n\nconst RE_TIMING = /(not right now|maybe later|reach out again|try (q[1-4]|next quarter)|reconnect (next|in))/;\n\nconst RE_INFO_REQUEST = /(how does (it|this) work|tell me more|send (me )?(more )?info|case stud|more information|what'?s the process)/;\n\nconst RE_POSITIVE_CLEAR = /(happy to talk|let'?s chat|sounds good|i'?d be open to a call|open to a call)/;\n\nconst RE_POSITIVE_UNCLEAR = /(interesting|possibly|go on|i may be interested)/;\n\nfunction matchRule(rules, text, evidence) {\n  for (const rule of rules) {\n    if (rule.needsEvidence && !evidence) continue;\n    if (rule.re.test(text)) return rule;\n  }\n  return null;\n}\n\nfunction classifyIntakeEvent(event) {\n  const ev = event || {};\n  const reply = ev.reply || {};\n  const text = `${reply.subject || ''} ${reply.text || ''}`.toLowerCase();\n\n  if (ev.malformed === true) {\n    return Object.assign({}, {\n      intake_outcome: 'MALFORMED_PAYLOAD_REJECTED',\n      category: null,\n      reply_mode: null,\n      stop_sequence: false,\n      pause_sequence: false,\n      suppression_level: 'NONE',\n      human_review_required: true,\n      escalation_required: false,\n      reason_codes: ['malformed_payload'],\n    });\n  }\n\n  if (ev.event_type && ev.event_type !== 'reply_received') {\n    return Object.assign({}, {\n      intake_outcome: 'UNSUPPORTED_EVENT_NOOP',\n      category: 'NOOP',\n      reply_mode: 'NO_REPLY',\n      stop_sequence: false,\n      pause_sequence: false,\n      suppression_level: 'NONE',\n      human_review_required: false,\n      escalation_required: false,\n      reason_codes: ['unsupported_event_type'],\n    });\n  }\n\n  if (\n    ev.is_auto_reply === true ||\n    (ev.lead_email && ev.eaccount && String(ev.lead_email).toLowerCase() === String(ev.eaccount).toLowerCase())\n  ) {\n    return Object.assign({}, {\n      intake_outcome: 'SELF_SENT_NOOP',\n      category: 'NOOP',\n      reply_mode: 'NO_REPLY',\n      stop_sequence: false,\n      pause_sequence: false,\n      suppression_level: 'NONE',\n      human_review_required: false,\n      escalation_required: false,\n      reason_codes: ['self_sent_or_auto_reply'],\n    });\n  }\n\n  if (ev.duplicate_of || ev.duplicate_intake_id) {\n    return Object.assign({}, {\n      intake_outcome: 'DUPLICATE_REJECTED',\n      category: null,\n      reply_mode: null,\n      stop_sequence: false,\n      pause_sequence: false,\n      suppression_level: 'NONE',\n      human_review_required: false,\n      escalation_required: false,\n      reason_codes: [ev.duplicate_intake_id ? 'repeated_execution_duplicate_intake_id' : 'duplicate_dedupe_key'],\n    });\n  }\n\n  if (ev.campaign_known === false) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS.T16,\n      intake_outcome: 'CAMPAIGN_UNKNOWN_HUMAN_REVIEW',\n      category: 'T16',\n      reason_codes: ['campaign_context_unknown'],\n    });\n  }\n\n  if (!String(reply.text || '').trim() && reply.has_attachments !== true) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS.T15,\n      intake_outcome: 'EMPTY_REPLY_ESCALATE',\n      category: 'T15',\n      reason_codes: ['empty_reply'],\n    });\n  }\n\n  let hit = matchRule(RULES_HARD_SAFETY, text, true);\n  if (hit) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS[hit.category],\n      intake_outcome: 'ACCEPTED',\n      category: hit.category,\n      legal_review_required: hit.legal === true,\n      privacy_review_required: hit.privacy === true,\n      reputational_review_required: hit.reputational === true,\n      reason_codes: [hit.code],\n    });\n  }\n\n  if (reply.has_attachments === true) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS.T14,\n      intake_outcome: 'ACCEPTED',\n      category: 'T14',\n      reason_codes: ['det-attach-001'],\n    });\n  }\n\n  hit = matchRule(RULES_BOUNCE_OOO, text, ev.delivery_status_evidence === true);\n  if (hit) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS[hit.category],\n      intake_outcome: 'ACCEPTED',\n      category: hit.category,\n      reason_codes: [hit.code],\n    });\n  }\n\n  hit = matchRule(RULES_PRICE_ATTACH, text, true);\n  if (hit) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS[hit.category],\n      intake_outcome: 'ACCEPTED',\n      category: hit.category,\n      reason_codes: [hit.code],\n    });\n  }\n\n  hit = matchRule(RULES_STRONG, text, true);\n  if (hit) {\n    return Object.assign({}, {\n      ...CATEGORY_ACTION_DEFAULTS[hit.category],\n      intake_outcome: 'ACCEPTED',\n      category: hit.category,\n      reason_codes: [hit.code],\n    });\n  }\n\n  if (RE_NOT_INTERESTED.test(text)) {\n    return Object.assign({}, { ...CATEGORY_ACTION_DEFAULTS.T6, intake_outcome: 'ACCEPTED', category: 'T6', reason_codes: ['not_interested'] });\n  }\n  if (RE_TIMING.test(text)) {\n    return Object.assign({}, { ...CATEGORY_ACTION_DEFAULTS.T4, intake_outcome: 'ACCEPTED', category: 'T4', reason_codes: ['timing_objection'] });\n  }\n  if (RE_INFO_REQUEST.test(text)) {\n    return Object.assign({}, { ...CATEGORY_ACTION_DEFAULTS.T2, intake_outcome: 'ACCEPTED', category: 'T2', reason_codes: ['information_request'] });\n  }\n  if (RE_POSITIVE_CLEAR.test(text)) {\n    return Object.assign({}, { ...CATEGORY_ACTION_DEFAULTS.T1, intake_outcome: 'ACCEPTED', category: 'T1', reply_mode: 'FIXED_TEMPLATE_APPROVAL', reason_codes: ['positive_interest_clear'] });\n  }\n  if (RE_POSITIVE_UNCLEAR.test(text)) {\n    return Object.assign({}, { ...CATEGORY_ACTION_DEFAULTS.T1, intake_outcome: 'ACCEPTED', category: 'T1', reply_mode: 'AI_DRAFT_APPROVAL', reason_codes: ['positive_interest_unclear'] });\n  }\n\n  // Nothing deterministic matched: fall through to the (mocked) AI\n  // classifier category, defaulting to T15 AMBIGUOUS (confidence < 0.60).\n  const fallback = ev.mock_ai_category || 'T15';\n  return Object.assign({}, {\n    ...(CATEGORY_ACTION_DEFAULTS[fallback] || CATEGORY_ACTION_DEFAULTS.T15),\n    intake_outcome: 'ACCEPTED',\n    category: fallback,\n    reason_codes: ['ai_classifier_fallback'],\n  });\n}\n\nfunction getPath(obj, pathStr) {\n  return String(pathStr)\n    .split('.')\n    .reduce((acc, key) => (acc === null || acc === undefined ? undefined : acc[key]), obj);\n}\n\nfunction compareExpected(actual, expected) {\n  const diffs = [];\n  for (const [key, expectedValue] of Object.entries(expected || {})) {\n    const actualValue = getPath(actual, key);\n    if (JSON.stringify(actualValue) !== JSON.stringify(expectedValue)) {\n      diffs.push({ path: key, expected: expectedValue, actual: actualValue });\n    }\n  }\n  return Object.assign({}, { passed: diffs.length === 0, diffs });\n}\n\nfunction runFixture(fixture, deps) {\n  const checkFn = CHECKS[fixture.check];\n  if (!checkFn) {\n    return Object.assign({}, { id: fixture.id, group: fixture.group, passed: false, error: `unknown check: ${fixture.check}` });\n  }\n  try {\n    const actual = checkFn(fixture, deps);\n    if (actual && actual.skipped === true) {\n      return Object.assign({}, { id: fixture.id, group: fixture.group, passed: true, skipped: true, note: actual.note });\n    }\n    const { passed, diffs } = compareExpected(actual, fixture.expected || {});\n    return passed\n      ? { id: fixture.id, group: fixture.group, passed: true }\n      : { id: fixture.id, group: fixture.group, passed: false, diffs };\n  } catch (error) {\n    return Object.assign({}, { id: fixture.id, group: fixture.group, passed: false, error: error && error.message ? error.message : String(error) });\n  }\n}\n\nfunction runFixtureMatrix(fixtures, deps) {\n  const list = Array.isArray(fixtures) ? fixtures : [];\n  const results = list.map((fixture) => runFixture(fixture, deps));\n  const passed = results.filter((r) => r.passed).length;\n  const failed = results.length - passed;\n  return Object.assign({}, {\n    schema_version: '1.0',\n    synthetic: true,\n    total: results.length,\n    passed,\n    failed,\n    overall_result: failed === 0 ? 'PASS' : 'FAIL',\n    results,\n  });\n}\n\nconst CHECKS = {\n  \"classify_intake\": (fixture) => classifyIntakeEvent(fixture.input),\n  \"sender_gates\": (fixture, deps) => deps.sc.runSendGates(deps.sc.validateSenderInput(fixture.input)),\n  \"sender_gate_rejection\": (fixture, deps) => {\n    const gated = deps.sc.runSendGates(deps.sc.validateSenderInput(fixture.input));\n    return deps.sc.buildGateRejectionTerminal(gated);\n  },\n  \"sender_dry_run_terminal\": (fixture, deps) => {\n    const gated = deps.sc.runSendGates(deps.sc.validateSenderInput(fixture.input));\n    const keyed = deps.sc.computeSendKey(gated);\n    const acquired = deps.sc.normalizeAcquisitionResult(keyed, { acquired: true, sendKey: 'b'.repeat(64), state: 'LOCKED' });\n    const suppressed = deps.sc.mockSuppressionAdapter(acquired);\n    const verified = deps.sc.verifySuppressionResults(suppressed);\n    return deps.sc.buildDryRunTerminal(verified, { state: 'DRY_RUN_OK' });\n  },\n  \"acquisition_terminal\": (fixture, deps) => {\n    const gated = deps.sc.runSendGates(deps.sc.validateSenderInput(fixture.input.decisionOutput));\n    const keyed = deps.sc.computeSendKey(gated);\n    const normalized = deps.sc.normalizeAcquisitionResult(keyed, fixture.input.acquireResponse);\n    return deps.sc.buildBlockedDuplicateTerminal(normalized);\n  },\n  \"suppression\": (fixture, deps) => {\n    const gated = deps.sc.runSendGates(deps.sc.validateSenderInput(fixture.input));\n    const suppressed = deps.sc.mockSuppressionAdapter(gated);\n    const verified = deps.sc.verifySuppressionResults(suppressed);\n    if (verified.suppression_verification.verified === false) {\n      return deps.sc.buildSuppressionEscalationTerminal(verified);\n    }\n    return verified;\n  },\n  \"send_outcome\": (fixture, deps) => deps.sc.classifySendOutcome(fixture.input.outcome),\n  \"plan_attempts\": (fixture, deps) => deps.sc.planSendAttempts(fixture.input.outcomes, fixture.input.options || {}),\n  \"reconcile\": (fixture, deps) => deps.sc.reconcileMatches(fixture.input.checks, fixture.input.options || {}),\n  \"watchdog_evaluation\": (fixture, deps) => deps.wc.evaluateUnfinishedRecords(fixture.input).watchdog_evaluation,\n  \"error_record_sanitised\": (fixture, deps) => deps.ec.redactErrorRecord(deps.ec.normalizeErrorEvent(fixture.input)).error_record,\n  \"placeholder_routing\": (fixture, deps) => {\n    const evaluated = deps.wc.evaluateUnfinishedRecords(fixture.input);\n    const withAlerts = deps.wc.buildAlertRecords(evaluated);\n    return deps.wc.mergeAlertDedupeResults(withAlerts, fixture.input.dedupeResponse).notification;\n  },\n  \"send_uncertain_not_retryable\": (fixture, deps) => deps.ec.normalizeErrorEvent(fixture.input).error_record,\n  \"sidecar_resolved_exclusion\": () => ({ skipped: true, note: 'verified against infrastructure/send-state/state-store.mjs in run-offline-tests.mjs' }),\n  \"sidecar_alert_dedupe\": () => ({ skipped: true, note: 'verified against infrastructure/send-state/state-store.mjs in run-offline-tests.mjs' })\n};\n\nconst sc = {\n  normalizeEmail,\n  djb2Hash,\n  deriveSendKey,\n  isValidSentContract,\n  deterministicJitter,\n  validateSenderInput,\n  runSendGates,\n  buildGateRejectionTerminal,\n  computeSendKey,\n  normalizeAcquisitionResult,\n  buildBlockedDuplicateTerminal,\n  mockSuppressionAdapter,\n  verifySuppressionResults,\n  buildSuppressionEscalationTerminal,\n  buildDryRunTerminal,\n  classifySendOutcome,\n  planSendAttempts,\n  reconcileMatches,\n};\nconst ec = {\n  redactValue,\n  classifyErrorClass,\n  deriveRetryable,\n  deriveOperatorAction,\n  normalizeErrorEvent,\n  redactErrorRecord,\n  buildPlaceholderNotification,\n  attachErrorId,\n};\nconst wc = {\n  classifySendRecord,\n  classifyErrorRecord,\n  sloTypeForCategory,\n  timestampForSendRecord,\n  ageSeconds,\n  statusForAge,\n  evaluateUnfinishedRecords,\n  buildAlertKey,\n  buildAlertRecords,\n  mergeAlertDedupeResults,\n  buildWatchdogResult,\n  mergeUnfinishedResponse,\n  attachPhase4bResultId,\n};\n\nconst harness_result = runFixtureMatrix(FIXTURES, { sc, ec, wc });\n\nreturn [{ json: { schema_version: '1.0', synthetic: true, validation_mode: true, harness_result } }];"
      }
    },
    {
      "id": "node_b_http",
      "name": "B. Persist Harness Result (hmz-send-state)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://hmz-send-state:5681/v1/phase4b/result",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.harness_result }}"
      }
    },
    {
      "id": "node_c",
      "name": "C. Attach Result ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst priorItems = $('Z5. Merge Integration Assertions Into Harness Result').all();\n\n\n\nfunction attachPhase4bResultId(priorItem, persistResponse) {\n  const input = priorItem || {};\n  const response = persistResponse || {};\n  if (!/^[0-9a-f]{16}$/.test(String(response.resultId || ''))) {\n    throw new Error('invalid_phase4b_persist_response');\n  }\n  return Object.assign({}, {\n    ...input,\n    phase4b_result_id: response.resultId,\n  });\n}\n\nreturn items.map((item, idx) => ({ json: attachPhase4bResultId((priorItems[idx] && priorItems[idx].json) || {}, item.json || {}) }));"
      }
    },
    {
      "id": "sticky_matrix",
      "name": "Fixture Matrix (notes)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        240
      ],
      "parameters": {
        "content": "## A. Embedded Fixture Matrix\n\n60 fixtures embedded as a JSON literal from fixtures/phase_4/{intake,sender,failure,monitoring}_fixtures.json:\n\n- intake (policy/intake): 23\n- sender (sender/suppression): 10\n- failure (failure policy): 19\n- monitoring (monitoring/error handling): 8\n\nrunFixtureMatrix() runs every fixture through its declared `check` (see harness-core.mjs CHECKS) and compares the result to `expected` by dot path. B persists the sanitised harness_result (schema_version, synthetic, total, passed, failed, overall_result, per-fixture results) via POST /v1/phase4b/result; C attaches the returned resultId.",
        "height": 380,
        "width": 900,
        "color": 5
      }
    },
    {
      "id": "c1d2e3f4-0001-4a2b-8c3d-4e5f6a7b8c01",
      "name": "Z0a. Build Sender Integration Input (Unique Fixture)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const executionId = ($execution && $execution.id) ? String($execution.id) : String(Date.now());\nconst uniqueSuffix = `${executionId}-${Date.now()}`;\n\nreturn [{\n  json: {\n    synthetic: true,\n    integration_fixture: 'sender_unique',\n    validation: { valid: true, errors: [], checked_at: new Date().toISOString() },\n    nes: {\n      intake_id: `intake-integration-${uniqueSuffix}`,\n      eaccount: 'sender@hmz-validation.test',\n      lead_email: `lead-${uniqueSuffix}@hmz-validation.test`,\n      campaign_id: 'campaign-integration-validation',\n      threading: { reply_to_uuid: `reply-${uniqueSuffix}` },\n    },\n    decision: {\n      category: 'T1',\n      confidence: 0.91,\n      reply_permitted: true,\n      human_review_required: true,\n      address_suppression_intent: 'NONE',\n      durable_dnc_intent: false,\n      reply_template_id: 'tmpl-integration-validation',\n    },\n    draft: {\n      template_id: 'tmpl-integration-validation',\n      draft_text: 'Thanks for your reply - a member of our team will follow up shortly.',\n    },\n    approval: { approved: true },\n  },\n}];"
      }
    },
    {
      "id": "c1d2e3f4-0002-4a2b-8c3d-4e5f6a7b8c02",
      "name": "Z1. Integration - Real Reply Sender Call (Unique Fixture)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        480
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "ePS5uBBxKxhFCYgU",
          "cachedResultName": "HMZ - Instantly Reply Sender - Validation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0003-4a2b-8c3d-4e5f6a7b8c03",
      "name": "Z0b. Build Sender Integration Input (Stable Rerun Fixture)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [{\n  json: {\n    synthetic: true,\n    integration_fixture: 'sender_stable_rerun',\n    validation: { valid: true, errors: [], checked_at: new Date().toISOString() },\n    nes: {\n      intake_id: 'intake-integration-stable-rerun-fixture',\n      eaccount: 'sender@hmz-validation.test',\n      lead_email: 'lead-stable-rerun-fixture@hmz-validation.test',\n      campaign_id: 'campaign-integration-validation',\n      threading: { reply_to_uuid: 'reply-stable-rerun-fixture' },\n    },\n    decision: {\n      category: 'T1',\n      confidence: 0.91,\n      reply_permitted: true,\n      human_review_required: true,\n      address_suppression_intent: 'NONE',\n      durable_dnc_intent: false,\n      reply_template_id: 'tmpl-integration-validation',\n    },\n    draft: {\n      template_id: 'tmpl-integration-validation',\n      draft_text: 'Thanks for your reply - a member of our team will follow up shortly.',\n    },\n    approval: { approved: true },\n  },\n}];"
      }
    },
    {
      "id": "c1d2e3f4-0004-4a2b-8c3d-4e5f6a7b8c04",
      "name": "Z1b. Integration - Real Reply Sender Call (Stable Rerun Fixture)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        480
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "ePS5uBBxKxhFCYgU",
          "cachedResultName": "HMZ - Instantly Reply Sender - Validation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0005-4a2b-8c3d-4e5f6a7b8c05",
      "name": "Z0c. Build Error Handler Integration Input (Forced SEND_UNCERTAIN)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const executionId = ($execution && $execution.id) ? String($execution.id) : String(Date.now());\nconst uniqueSuffix = `${executionId}-${Date.now()}`;\n\nreturn [{\n  json: {\n    synthetic: true,\n    integration_fixture: 'error_handler_forced',\n    workflow_id: 'integration-closure-synthetic',\n    workflow_name: 'HMZ - Instantly Reply Sender - Validation',\n    execution_id: executionId,\n    failed_node: 'E. Acquire Send Ownership (hmz-send-state)',\n    intake_id: `intake-integration-error-${uniqueSuffix}`,\n    send_key: `send-integration-error-${uniqueSuffix}`,\n    send_state: 'SEND_UNCERTAIN',\n    http_status: 200,\n    attempt: 1,\n  },\n}];"
      }
    },
    {
      "id": "c1d2e3f4-0006-4a2b-8c3d-4e5f6a7b8c06",
      "name": "Z3. Integration - Real Error Handler Call (Forced Error)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1680,
        480
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "2PR9YEkG4KyGdowa",
          "cachedResultName": "HMZ - Reply Error Handler - Validation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0007-4a2b-8c3d-4e5f6a7b8c07",
      "name": "Z5. Merge Integration Assertions Into Harness Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const harnessItem = $('A. Run Fixture Matrix').first();\nconst harnessResult = (harnessItem && harnessItem.json && harnessItem.json.harness_result) || {};\n\nconst senderItem = $('Z1. Integration - Real Reply Sender Call (Unique Fixture)').first();\nconst senderJson = (senderItem && senderItem.json) || {};\nconst senderTerminal = senderJson.terminal || {};\n\nconst senderRerunItem = $('Z1b. Integration - Real Reply Sender Call (Stable Rerun Fixture)').first();\nconst senderRerunJson = (senderRerunItem && senderRerunItem.json) || {};\nconst senderRerunTerminal = senderRerunJson.terminal || {};\n\nconst errorJson = $json;\nconst errorRecord = errorJson.error_record || {};\nconst notification = errorJson.notification || {};\nconst persistedError = errorJson.persisted_error || {};\n\nconst senderAssertion = {\n  ran_inside_n8n: true,\n  terminal_result: senderTerminal.result || null,\n  send_state: senderTerminal.send_state || null,\n  sent: senderTerminal.sent === true,\n  transport: senderTerminal.transport || null,\n  passed:\n    senderTerminal.result === 'DRY_RUN_OK' &&\n    senderTerminal.sent === false &&\n    senderTerminal.transport === 'NONE',\n};\n\nconst senderRerunAssertion = {\n  ran_inside_n8n: true,\n  terminal_result: senderRerunTerminal.result || null,\n  send_state: senderRerunTerminal.send_state || null,\n  acquisition_acquired:\n    senderRerunJson.acquisition ? senderRerunJson.acquisition.acquired === true : null,\n  note: 'Stable identity fixture; sequential-rerun blocking (acquisition.acquired=false on a repeat execution) is proven across repeated runs by run-n8n-runtime-tests.ps1.',\n};\n\nconst errorAssertion = {\n  ran_inside_n8n: true,\n  error_record_created: typeof persistedError.errorId === 'string' && persistedError.errorId.length > 0,\n  send_state: errorRecord.send_state || null,\n  error_class: errorRecord.error_class || null,\n  retryable: errorRecord.retryable,\n  notification_surface: notification.surface || null,\n  notification_delivered: notification.delivered === true,\n  passed:\n    errorRecord.send_state === 'SEND_UNCERTAIN' &&\n    errorRecord.error_class === 'SEND_UNCERTAIN' &&\n    errorRecord.retryable === false &&\n    notification.surface === 'PLACEHOLDER_NOT_CONFIGURED' &&\n    notification.delivered === false &&\n    typeof persistedError.errorId === 'string' &&\n    persistedError.errorId.length > 0,\n};\n\nconst integrationPassed = senderAssertion.passed && errorAssertion.passed;\n\nconst integration_result = {\n  schema_version: '1.0',\n  synthetic: true,\n  sender_integration: senderAssertion,\n  sender_rerun_integration: senderRerunAssertion,\n  error_handler_integration: errorAssertion,\n  overall_result: integrationPassed ? 'PASS' : 'FAIL',\n};\n\nconst combined_harness_result = {\n  ...harnessResult,\n  integration_result,\n  overall_result:\n    harnessResult.overall_result === 'PASS' && integration_result.overall_result === 'PASS'\n      ? 'PASS'\n      : 'FAIL',\n};\n\nreturn [{ json: { harness_result: combined_harness_result } }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "A. Run Fixture Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger (Synthetic Test Entry)": {
      "main": [
        [
          {
            "node": "A. Run Fixture Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A. Run Fixture Matrix": {
      "main": [
        [
          {
            "node": "Z0a. Build Sender Integration Input (Unique Fixture)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B. Persist Harness Result (hmz-send-state)": {
      "main": [
        [
          {
            "node": "C. Attach Result ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z0a. Build Sender Integration Input (Unique Fixture)": {
      "main": [
        [
          {
            "node": "Z1. Integration - Real Reply Sender Call (Unique Fixture)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z1. Integration - Real Reply Sender Call (Unique Fixture)": {
      "main": [
        [
          {
            "node": "Z0b. Build Sender Integration Input (Stable Rerun Fixture)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z0b. Build Sender Integration Input (Stable Rerun Fixture)": {
      "main": [
        [
          {
            "node": "Z1b. Integration - Real Reply Sender Call (Stable Rerun Fixture)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z1b. Integration - Real Reply Sender Call (Stable Rerun Fixture)": {
      "main": [
        [
          {
            "node": "Z0c. Build Error Handler Integration Input (Forced SEND_UNCERTAIN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z0c. Build Error Handler Integration Input (Forced SEND_UNCERTAIN)": {
      "main": [
        [
          {
            "node": "Z3. Integration - Real Error Handler Call (Forced Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z3. Integration - Real Error Handler Call (Forced Error)": {
      "main": [
        [
          {
            "node": "Z5. Merge Integration Assertions Into Harness Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z5. Merge Integration Assertions Into Harness Result": {
      "main": [
        [
          {
            "node": "B. Persist Harness Result (hmz-send-state)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": "2PR9YEkG4KyGdowa"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "08ec3c3f-1200-47e7-9422-d572a22951c7",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-17T18:29:52.776Z",
      "createdAt": "2026-06-17T18:29:52.776Z",
      "role": "workflow:owner",
      "workflowId": "RLUcJHQJPvLhw4mG",
      "projectId": "wczOkcRaHDWk4Ffs",
      "project": {
        "updatedAt": "2026-06-17T07:02:32.299Z",
        "createdAt": "2026-06-17T06:55:32.963Z",
        "id": "wczOkcRaHDWk4Ffs",
        "name": "Hamzah Zahid <hamzahzahidsales@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "c36de550-8f81-4842-a501-1a1e33f7d4b8"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
