workflows/disabled_autonomous_shadow_evaluator.json
{"updatedAt":"2026-06-25T00:38:45.115Z","createdAt":"2026-06-24T09:16:24.144Z","id":"aHzLtQiv6G8h1bqD","name":"HMZ Autonomous Shadow Evaluator [DISABLED — DO NOT ACTIVATE WITHOUT OWNER APPROVAL]","description":null,"active":false,"isArchived":false,"nodes":[{"id":"node-webhook-manual","name":"Manual Test Webhook [INACTIVE]","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"parameters":{"path":"autonomous-shadow-eval-test","httpMethod":"POST","responseMode":"lastNode","options":{}},"notes":"SHADOW EVALUATOR ONLY. This webhook is inactive. Manual test payloads only. No production traffic.","webhookId":"d639a410-aebb-4646-a8b7-42d9238a85d8"},{"id":"node-validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"// Validate required fields (body may be wrapped by webhook node)\nconst rawInput = $input.first().json;\nconst payload = (rawInput.body && typeof rawInput.body === 'object') ? rawInput.body : rawInput;\nconst required = ['case_id','incoming_text','broad_category','micro_intent','confidence','campaign_id','sender_email','thread_id'];\nconst missing = required.filter(f => payload[f] === undefined || payload[f] === null || payload[f] === '');\nif (missing.length > 0) {\n  throw new Error('Missing required fields: ' + missing.join(', '));\n}\nreturn [{ json: { ...payload, additional_intents: payload.additional_intents || [], risk_flags: payload.risk_flags || [] } }];"}},{"id":"node-eligibility-engine","name":"Run Eligibility Gates [SHADOW ONLY]","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300],"parameters":{"jsCode":"// SHADOW EVALUATOR v1.1 — RC-SHADOW-003 Allowlist Wire-Up\n// Gate 1 (shadow_evaluator_always_disabled) is UNCONDITIONAL.\n// would_send_live_now is ALWAYS FALSE — immutable safety constraint.\nconst SHADOW_CONFIG = {\n  autonomous_enabled: false,\n  shadow_only: true,\n  dry_run: true,\n  emergency_disabled: true,\n  campaign_allowlist: [],\n  sender_allowlist: [],\n  intent_allowlist: [],\n  confidence_threshold: 0.85,\n  max_autonomous_sends_per_day: 0\n};\n\nconst PERMANENT_BLOCK = ['UNSUBSCRIBE','DO_NOT_CONTACT','OPT_OUT','LEGAL_COMPLAINT',\n  'ANGRY_REPLY','HOSTILE_REPLY','BILLING_DISPUTE','REFUND_REQUEST','PRICING_REQUEST',\n  'PRICING_NEGOTIATION','CONTRACT_TERMS','GDPR_REQUEST','SOC2_REQUEST',\n  'DATA_SECURITY_REQUEST','PRIVACY_QUESTION','COMPLIANCE_QUESTION',\n  'SENSITIVE_PERSONAL_DATA','CUSTOM_PROPOSAL_REQUEST','ENTERPRISE_REQUEST',\n  'HIGH_VALUE_JUDGEMENT','AMBIGUOUS_INTENT'];\n\nconst p = $input.first().json;\nconst intent = p.micro_intent;\nconst addIntents = p.additional_intents || [];\nconst confidence = p.confidence;\n\n// GATE 1 — system state (always disabled in shadow evaluator — immutable)\nconst blockedReason = 'shadow_evaluator_always_disabled';\nconst wouldSendLiveNow = false; // HARDCODED — never changes\n\n// Intent safety: PERMANENT_BLOCK overrides all allowlists\nconst intentBlocked = PERMANENT_BLOCK.includes(intent);\nconst addBlocked = addIntents.filter(i => PERMANENT_BLOCK.includes(i));\n\n// RC-SHADOW-003: Allowlist wire-up\n// Empty allowlist always blocks. All three allowlists must be populated and matched.\nconst cLen = (SHADOW_CONFIG.campaign_allowlist || []).length;\nconst sLen = (SHADOW_CONFIG.sender_allowlist || []).length;\nconst iLen = (SHADOW_CONFIG.intent_allowlist || []).length;\nconst campaignOk = cLen > 0 && (SHADOW_CONFIG.campaign_allowlist || []).includes(p.campaign_id);\nconst senderOk   = sLen > 0 && (SHADOW_CONFIG.sender_allowlist || []).includes(p.sender_email);\nconst intentOk   = iLen > 0 && (SHADOW_CONFIG.intent_allowlist || []).includes(intent);\nconst confOk     = confidence >= SHADOW_CONFIG.confidence_threshold;\n\n// Determine most specific allowlist block reason (diagnostics only — not for live send)\nlet allowlistBlockReason = null;\nif      (intentBlocked)          allowlistBlockReason = 'intent_permanently_blocked';\nelse if (addBlocked.length > 0)  allowlistBlockReason = 'additional_intent_permanently_blocked';\nelse if (cLen === 0)             allowlistBlockReason = 'campaign_allowlist_empty';\nelse if (!campaignOk)            allowlistBlockReason = 'campaign_not_allowlisted';\nelse if (sLen === 0)             allowlistBlockReason = 'sender_allowlist_empty';\nelse if (!senderOk)              allowlistBlockReason = 'sender_not_allowlisted';\nelse if (iLen === 0)             allowlistBlockReason = 'intent_allowlist_empty';\nelse if (!intentOk)              allowlistBlockReason = 'intent_not_allowlisted';\nelse if (!confOk)                allowlistBlockReason = 'confidence_below_threshold';\n\n// Shadow eligible: all allowlist gates pass + no permanent block\n// Still cannot send live — shadow evaluator only\nconst shadowEligible = !intentBlocked && addBlocked.length === 0 &&\n                        campaignOk && senderOk && intentOk && confOk;\n\nreturn [{ json: {\n  ...p,\n  eligibility_result: {\n    blocked_reason: blockedReason,\n    would_send_live_now: false,\n    would_be_shadow_eligible: shadowEligible,\n    allowlist_block_reason: allowlistBlockReason,\n    intent_permanently_blocked: intentBlocked,\n    additional_intent_blocked: addBlocked,\n    campaign_ok: campaignOk,\n    sender_ok: senderOk,\n    intent_allowlist_ok: intentOk,\n    confidence_ok: confOk,\n    allowlist_sizes: { campaign: cLen, sender: sLen, intent: iLen },\n    recommended_action: (intentBlocked || addBlocked.length > 0) ? 'BLOCKED_PERMANENT' :\n                        allowlistBlockReason ? 'BLOCKED_ALLOWLIST' :\n                        shadowEligible ? 'SHADOW_LOG' : 'HUMAN_REVIEW'\n  }\n}}];"}},{"id":"node-prepare-shadow-decision","name":"Prepare Shadow Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300],"parameters":{"jsCode":"const p = $input.first().json;\nconst r = p.eligibility_result;\nreturn [{ json: {\n  _warning: 'SHADOW_EVALUATOR_WORKFLOW — NO PRODUCTION TRAFFIC — DISABLED — would_send_live_now is always false',\n  case_id: p.case_id,\n  thread_id: p.thread_id,\n  campaign_id: p.campaign_id,\n  sender_email: p.sender_email,\n  incoming_text_excerpt: (p.incoming_text || '').substring(0, 200),\n  detected_broad_category: p.broad_category,\n  detected_micro_intent: p.micro_intent,\n  additional_intents: p.additional_intents || [],\n  confidence: p.confidence,\n  would_be_shadow_eligible: r.would_be_shadow_eligible,\n  would_send_live_now: false,  // HARDCODED FALSE — SHADOW EVALUATOR ONLY\n  blocked_reason: r.blocked_reason,\n  recommended_action: r.recommended_action,\n  autonomous_mode_state: 'DISABLED',\n  dry_run_state: true,\n  shadow_only_state: true,\n  shadow_evaluator_mode: true,\n  timestamp: new Date().toISOString(),\n  post_action_review_required: true\n}}];"}},{"id":"node-return-decision","name":"Return Shadow Decision","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1050,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseHeaders":{"entries":[{"name":"X-Shadow-Evaluator","value":"DISABLED — NO PRODUCTION TRAFFIC"},{"name":"X-Would-Send-Live","value":"FALSE — ALWAYS"}]}}}}],"connections":{"Validate Input":{"main":[[{"index":0,"node":"Run Eligibility Gates [SHADOW ONLY]","type":"main"}]]},"Prepare Shadow Decision":{"main":[[{"index":0,"node":"Return Shadow Decision","type":"main"}]]},"Manual Test Webhook [INACTIVE]":{"main":[[{"index":0,"node":"Validate Input","type":"main"}]]},"Run Eligibility Gates [SHADOW ONLY]":{"main":[[{"index":0,"node":"Prepare Shadow Decision","type":"main"}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"ae13bf4e-ee04-438f-9657-3c57183b90a2","activeVersionId":null,"versionCounter":3,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-24T09:16:24.146Z","createdAt":"2026-06-24T09:16:24.146Z","role":"workflow:owner","workflowId":"aHzLtQiv6G8h1bqD","projectId":"wczOkcRaHDWk4Ffs","project":{"updatedAt":"2026-06-17T07:02:32.299Z","createdAt":"2026-06-17T06:55:32.963Z","id":"wczOkcRaHDWk4Ffs","name":"Hamzah Zahid <hamzahzahidsales@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"c36de550-8f81-4842-a501-1a1e33f7d4b8"}}],"tags":[],"activeVersion":null}